[2020-04-27 19:30] vieko opened #2 "Usage with latest Next.js (9.3)"
**FWIW:** Next.js kept complaining with `cannot use import statement outside a module`. I had to include three and drei in the transpile modules array to get OrbitControls to work:

next.config.js
`const withTM = require('next-transpile-modules')(['three', 'drei'])`
`module.exports =withTM()`

Hope this helps someone else.

[2020-04-27 19:52] drcmda commented on #2
that's odd, don't even know what that means. the published /dist/index.js is a module, no?

[2020-04-27 20:02] vieko commented on #2
I'm still trying to understand the message myself :)

My guess at this point: Next.js tries to run server-side and fails somehow. I'm sure there's an explanation / actual solution for this.

[2020-04-28 03:08] stockHuman opened #3 "HDRI Lighting"
Hello hello!

Don't know if this is too small / uncommon to warrant inclusion, but I've often used the following to quickly set the scene's environment to an HDRI map.

[code]
Very useful library, this one! Nominating the next one be named _trois_. :P

[2020-04-28 07:51] drcmda commented on #3
i have something very close to this but im using something called "HDRCubeTextureLoader" to load the hdr. this could be hard to abstract, do you know what the difference is? if there are dozens of formats im not sure how we could pack it into a re-usable component ...

[2020-04-28 10:32] talentlessguy commented on #2
@vieko I had exactly the same problem and made a question on spectrum and twitter. The problem is that Next.js uses CommonJS modules on server, so it cannot understand ESM modules.

Another solution is importing dynamically, like

[code]

[2020-04-28 14:46] giulioz opened #4 "ProfiledContourGeometry"
What about integration with the ProfiledContourGeometry?

https://discourse.threejs.org/t/profiledcontourgeometry/2330

[2020-04-28 20:51] vieko commented on #2
@talentlessguy I could not get it to work with a dynamic import (saw your post on spectrum). I think this is because the OrbitControls component included in drei, references bits in three.

[2020-04-28 23:10] stockHuman commented on #3
Nice!

To my knowledge they are implementations of the same thing, as [CubeTex](https://github.com/mrdoob/three.js/blob/e8145dcaa83f57da82a3d3d413c89e34b9f01571/examples/jsm/loaders/HDRCubeTextureLoader.js) ultimately calls [RGBELoader ](https://github.com/mrdoob/three.js/blob/8791f00b3ee4919a89d33be7cab2fa9a355b94cc/examples/jsm/loaders/RGBELoader.js), and the latter seems to contain the real fil

[2020-04-30 11:50] talentlessguy opened #6 "[feat] Glitch Effect"
I suspect it should be something like this:

[code]

The problem is that it doesn't work :/

it returns this:

[code]

the implementation was taken from [react-three-fiber recipes](https://github.com/react-spring/react-three-fiber/blob/master/recipes.md#dealing-with-effects-hijacking-main-render-loop)

[2020-04-30 21:04] drcmda commented on #6
looks like you didnt put it into the canvas. if it cant find the subscribe function then the context returns "undefined".

[2020-04-30 23:21] talentlessguy commented on #6
@drcmda ohh right, my bad (again lol). Seems to be working! Will submit a pull request in a few days :D

[2020-05-02 01:17] drcmda commented on #3
we can keep it open meanwhile. the component itself would be super nice to have.

[2020-05-02 08:31] talentlessguy commented on #6
Submitted PR! it's here: https://github.com/react-spring/drei/pull/7

[2020-05-05 07:16] crubier opened #8 "StandardEffects Ambient Occlusion glitch on iOS"
Ambient occlusion gives this glitch on iOS.

![675A4759-A6B8-4C54-AD49-DCEC775001E7](https://user-images.githubusercontent.com/2954572/81042733-aad5a700-8ea8-11ea-9f30-be8f53c8e1eb.png)

[2020-05-05 16:42] drcmda commented on #8
it's a bug in the postprocessing lib, could you forward it?

here's the pp config that i use: https://github.com/react-spring/drei/blob/master/src/StandardEffects.ts

and it can be overwritten by doing:

[code]

[2020-05-05 17:23] lostfictions commented on #2
hey, just got bit by this as well. looks like the issue isn't occurring in drei proper -- the cjs version has correctly been transpiled to `require` calls -- but rather results from the fact that it's still using the `jsm` versions of some three stuff.

so for example, when i try to use `<MapControls />`, i get an import error coming from `/node_modules/three/examples/jsm/controls/OrbitControls.js

[2020-05-05 17:35] lostfictions commented on #2
oh wait -- i'm looking a bit more closely at three and i guess there's no cjs version of the examples code... your options are es modules or a version that patches the `THREE` global. i guess i'll uhhh copy and paste both the drei code and the three example code into my own project and install any missing dependencies myself

[2020-05-05 18:51] drcmda commented on #2
ahh, that makes sense now. yes it's kind of sad. i have made an issue for this once and it got shot down. examples/jsm breaks node resolution, too, by digging directly into the three source with relative ../../../ paths.

[2020-05-05 19:42] drcmda commented on #8
could you check again, and maybe try out what @vanruesc recommends here https://github.com/vanruesc/postprocessing/issues/199 ?

[2020-05-09 01:56] MichaelWheldon commented on #2
I got this working useing withTM. Sample next.config:

[code]

[2020-05-12 13:47] talentlessguy opened #10 "Build fails on Parcel 2 + pnpm because of stats.js module"
# Problem

When I try to import `drei` in a Parcel 2 project, like this:

[code]

 that's what I get:

![image](https://user-images.githubusercontent.com/35937217/81698681-01c21a00-946f-11ea-80f3-94710719f361.png)

# Solution

I think it's good to generate a bundle with not only `dist/index.js` but each component separately as well. It is possible if Rollup config uses output dir instead of output

[2020-05-13 18:52] gsimone opened #12 "[feature] useHelper"
I'm using a simple hook to reduce boilerplate when using helpers, let me know if it's something that could be useful:

https://codesandbox.io/s/r3f-usehelper-075y8

[2020-05-14 07:18] drcmda commented on #12
let's add it!

[2020-05-15 08:11] drcmda commented on #10
i dont see why this is a bug on rollups or dreis side. https://unpkg.com/browse/drei@0.0.32/dist/index.js

[code]

[2020-05-15 09:30] talentlessguy commented on #10
@drei yeah it is a pnpm issue, it probably didn't link `stats.js` module.

I wanted to import `HTML` with `drei/dist/HTML.js` not to have to deal with missing module errors which I don't use.

I think I will close the issue though, but just in case anyone faces the same issue, the solution is installing `stats.js` directly in the project:

[code]

[2020-05-15 09:30] #10 closed

[2020-05-16 18:35] gsimone commented on #12
Alright, I've made some progress, I'll share here before a pr as I'm not sure about some details.

https://codesandbox.io/s/r3f-use-helper-bm2qu?file=/src/use-helper.tsx

- I'm not sure how to type the arguments to the hook, the second one should be an helper constructor but I can't seem to find any type in threejs that could work for all helpers
- the rest of the arguments would be passed to the

[2020-05-17 06:32] drcmda commented on #12
users should be able to do:

[code]

[code]

[2020-05-17 10:43] gsimone commented on #12
So, I updated the sandbox with your suggestions, still:

1.
[code]

gives me a type error "Argument of type 'typeof BoxHelper' is not assignable to parameter of type 'BoxHelper'."

This is fixed using `useHelper<typeof BoxHelper>(...)` ( and I'm not sure if this is desirable)

2.
in the hook I get these type errors:
`Type 'T' does not satisfy the constraint 'new (...args: any) => any'`
and
`This e

[2020-05-17 10:58] drcmda commented on #12
i dont know TS myself, but in reactthreefiber they have solved args in /src/three-types.ts maybe you find something over there

[2020-05-17 11:21] gsimone commented on #12
I fixed the warning but I think that made everything too "any"ish, maybe I'll just PR now and open an issue later to have somebody more expert with TS check the typings

[2020-05-17 11:27] drcmda commented on #12
that's fine, thats how i do it as well most of the time, eventually it will annoy someone and they fix it ;-)

[2020-05-17 11:31] #12 closed

[2020-05-18 03:43] lojjic opened #15 "Text with custom material"
Thanks for the `Text` wrapper for Troika's TextMesh!

Stylistically I like the choice to specify the text content as the JSX element's content, that feels very HTML-ey even if you can't do inline markup.

However it seems that this removes the ability to specify a custom material declaratively e.g. with a `<meshStandardMaterial attach="material" .../>` child. The ability to use any material is one

[2020-05-18 06:36] drcmda commented on #15
thanks for this awesome library! i was thinking about if it makes sense at all to wrap it since troika-3d-text is so easy to use and lean already standalone. i guess it's just bc of types, extend and children. but i will be using it practically all day now. i didn't think of the material, i'll fix it.

btw, have you thought about crossing troika-3d-text with yoga? it's like a cross platform css.

[2020-05-18 13:16] giulioz opened #17 "HTML Component loses Context"
When working with HTML component you loose all the React contexts, breaking libraries like MaterialUI that relies on theming.
It's possible to find another solution that doesn't involve calling `ReactDOM.render`, maybe using portals?

[2020-05-18 13:36] drcmda commented on #17
i would love that, but it's hard to do i guess. portal cant render from one reconciler into another, if you create a portal inside canvas, it expects threejs elements, not divs and spans. and even if, context wouldnt even go into <Canvas>. i hope the react team will figure this out at some point, because mixing reconcilers quite jarring.

[2020-05-18 22:21] giulioz opened #18 "Strange behaviour with AO and instancing"
I've noticed a strange behaviour when you combine AO from StandardEffects and InstancedGeometry.

If you have any other objects on the scene you can see a "ghost" of the single instance on the center.

Try enabling and disabling the flag on the start of this sandbox:
https://codesandbox.io/s/r3f-instanced-colors-cvbdq?file=/src/index.js

[2020-05-18 22:22] giulioz commented on #18
Update:
not sure if related or not, but if you edit the flag with hot reload you may get this error:

![image](https://user-images.githubusercontent.com/1353142/82265256-dc4d7880-9966-11ea-8538-55b5b18fca55.png)

[2020-05-18 22:24] giulioz commented on #18
Rendering directly the normal pass gives this result:
![image](https://user-images.githubusercontent.com/1353142/82265378-20407d80-9967-11ea-8653-bccb8e4be53f.png)

It seems like the normal pass it totally ignoring instancing…

[2020-05-19 08:30] jmatsushita opened #19 "Text with react-native TypeError: element.setAttribute is not a function"
Hi there,

When using the Text component in a react-native app (with expo-gl) I get the following error:
[code]

Simply importing the package seem to trigger the error.

[2020-05-19 09:16] giulioz commented on #18
Seems like it may be a THREE related issue. It's happening every time you set an overrideMaterial with instancing. Closing for now.

[2020-05-19 09:16] #18 closed

[2020-05-19 13:41] kevinresol opened #21 "How to use controlled TransformControls?"
I tried something like this:

[code]

and fire a callback like so:

[code]

but when the position is updated and the view re-rendered, the mesh and the UI helper will jump away for the same distance of the last drag. My gut feeling is that there are some internal offset stored by the control which breaks this controlled pattern.

[2020-05-19 17:09] lojjic commented on #15
See PR #20 for addl discussion.

[2020-05-20 04:09] cdebotton opened #23 "'document is undefined' with SSR"
When importing drei in an app that renders with SSR, an error is thrown as `troika-3d-text` has multiple references to the `document` object. This can be circumvented by loading components that require this using lazy or dynamic imports, but unfortunately, importing _anything_ from `drei` will bring in `troika-3d-text`, so it is impossible to, for example, use the awesome `<HTML />` component for

[2020-05-20 09:54] Pomevak opened #24 "Pass ref to OrbitControls"
When I pass ref to OrbitControls, `ref.current`does not return the object immediately after the component mounted, it takes a while for `ref.current` to evaluate to OrbitControls. This is confusing me and I think this might be a bug?
[code]

[2020-05-20 13:10] drcmda commented on #23
it should tree-shake. i've tried it, just using HTML and there is no mention of troika in the resulting bundle. are you in dev mode perhaps, or is there any other reason why it wouldn't shake off un-used dependencies?

[2020-05-20 13:15] drcmda commented on #24
it works as i would expect it to: https://codesandbox.io/s/r3f-contact-shadow-bkt7n

maybe you have it inside a Suspense block or anything else that makes it appear async. but if it's in a normal component it's guaranteed to be filled in useEffect.

[2020-05-20 13:18] drcmda commented on #21
i dont know how transformcontrols works internally, but is it even possible to control them? they're for certain not made for react.

[2020-05-20 13:39] cdebotton commented on #23
Thanks for the quick reply! Embarrassingly, I didn’t consider I was in dev mode, but I’m still wondering if there’s a preferred way to work with these tools while developing an application as any page that imports drei will throw an error.

[2020-05-20 22:29] #23 closed

[2020-05-21 09:02] Pomevak commented on #24
I see. I am using SSR, so I have to dynamically import the component. Maybe that's the cause of the problem. But do you have any suggestions on how I can solve this problem? Thanks a lot.

[2020-05-22 08:25] kevinresol commented on #21
Apparently it doesn't right now. But I guess it could be done if transformcontrols expose some functions to reset its internally cached state.

[2020-05-23 16:45] crubier opened #25 "Stopped working with SSR since 0.32 => 0.33"
While all version of drei <= 0.32 work with Server Side Rendering, all verion >= 0.33 fail in Gatsby (and I supposed most Server Side Rendering solutions) with this error:

[code]

This seems to be related to the introduction of `troika`, I think troika uses `document` with no checks, failing on server side.

[2020-05-23 16:48] drcmda commented on #25
i believe this could be related to https://github.com/react-spring/drei/issues/23 there should not be a trace of troika in the bundle if you dont use it. otherwise i think we have to open a ticket on troikas GH.

[2020-05-24 00:00] reggie3 opened #26 "Possible to Apply StandardEffect to Specific Mesh or Group"
Is it possible to apply the StandardEffect to a specific mesh or group?  I'm trying to apply the bloom effect to a specific item in a scene.

[2020-05-24 07:06] drcmda commented on #25
Could you try his fix out https://github.com/protectwise/troika/issues/46 ?

[2020-05-24 07:07] drcmda commented on #23
He fixed it, could you try loading this lib in ssr? https://github.com/protectwise/troika/issues/46 we're not sure if that's all that we need to do

[2020-05-24 07:09] drcmda commented on #26
Look for react-postprocessing this will all be possible with it

[2020-05-24 09:54] gsimone commented on #26
https://github.com/react-spring/react-postprocessing
Leaving the link to the repo for future reference

[2020-05-24 14:39] reggie3 commented on #26
Thanks for pointing that out.  Here's a link to a Codesandbox that use's that library https://codesandbox.io/s/react-post-processing-single-item-3dm54?file=/src/index.js
I'm running into an issue with it, but I'll post it with that library.

New issue: https://github.com/react-spring/react-postprocessing/issues/3

[2020-05-25 20:55] cdebotton commented on #23
@drcmda Thanks for the follow-up! The undefined `document` errors are gone, I am however seeing this is in my console when running the app:

[code]

It doesn't prevent the app from rendering, which is great, but it does add noise to logs.

[2020-05-25 21:19] drcmda commented on #23
could you open a new ticket over there (troika)? there's nothing i can do here, other than messing with the build system, but would be great to keep the flatbundle for convenience.

[2020-05-26 10:04] gsimone opened #28 "Add a storybook for examples/development"
We could move all the examples from codesandbox to a storybook hosted on netlify, or a maybe even a cra.

On one hand it would be a nice way to collect examples, on the other it would give a good dev env.

[2020-05-26 14:31] #21 closed

[2020-05-26 15:27] kevinresol opened #29 "Follow up #21 & #27"
For #27, Sorry the alternative destructure strategy is actually problematic:

because it now passes undefined values to the transform control, e.g. `enabled={undefined}`, or `showX={undefined}`, causing very weird errors. Not expert of TS, is there a way to not pass undefined props to the control?

[2020-05-26 16:18] gsimone commented on #29
I'm not sure if I'm misunderstanding, but I think you could use something like pick
 and omit from lodash https://lodash.com/docs/4.17.15#pick

[code]

https://codesandbox.io/s/magical-villani-zfzlo?file=/src/index.js:0-334

[2020-05-26 18:32] gsimone commented on #28
I'm starting to work on it in my fork, let me know if it's something worth adding

https://github.com/gsimone/drei

preview: https://focused-meninsky-e3f9e4.netlify.app/

[2020-05-27 07:02] #29 closed

[2020-05-27 07:05] drcmda commented on #29
merged the pr, published, too

[2020-05-27 07:06] drcmda commented on #28
looks nice! does it have something that lists props as well, so that we could use as an interactive documentation? you can make the pr

[2020-05-27 07:09] gsimone commented on #28
Yes, there are some add-ons that can do that, it'll have to wait a bit since Me and my computer need some repairs - butterfly keyboard and wrist lol

[2020-05-28 09:17] #24 closed

[2020-05-30 21:42] #26 closed

[2020-06-06 09:11] gsimone commented on #28
I'll close this, I opened the draft PR https://github.com/react-spring/drei/pull/34

[2020-06-06 09:11] #28 closed

[2020-06-09 16:48] gsimone opened #36 "[suggestion] TransformControls improvements"
1. add a `mode` prop that handles the side effect ( control.setMode(mode) )
2. add a `disableControls` (needs a better name) prop that disables controls when interacting with the TransformControls

[code]

These are all typical cases and I don't see any reason not to add them

Based on the demo: https://codesandbox.io/s/r3f-drei-transformcontrols-uvqn6?file=/src/index.js:496-526

[2020-06-09 22:01] drcmda commented on #36
it has a mode props, its a string. disablecontrols seems like a useful addition! 👍

[2020-06-10 08:53] epleaner commented on #2
Hey, @MichaelWheldon 's solution works for me for the most part, but I'm running into that "only after the second render" issue while using First Person Controls. I guess this isn't really a drei issue specifically, but I'd figure I'd ask here. It seems the Controls are being loaded but are extremely choppy / unresponsive until the second render. Disabling SSR with `next/dynamic` doesn't have an i

[2020-06-10 09:11] Fasani commented on #36
https://threejs.org/docs/#examples/en/controls/TransformControls has:
[code]

So this should work like this out of the box?

[2020-06-10 09:12] gsimone commented on #36
The mode prop only works on first render - and I guess the other props too. To make it props-controlled, this could work - unless we want to check changed props, not sure if there is any real performance issue:

[code]

[2020-06-10 09:17] gsimone commented on #36
https://focused-meninsky-e3f9e4.netlify.app/?path=/story/controls-transformcontrols--transform-controls-lock-st

Here, check the knobs addon, changing the props doesn't work because they are only passed at construction

[2020-06-10 09:21] lostfictions commented on #2
fwiw something like `dynamic(() => import('../components/Cube'))` doesn't actually disable ssr -- in next dynamic imports can be used for bundle-splitting/lazy-loading for conditional renders while remaining compatible with ssr (which can indeed cause problems with browser-only stuff).

you have to explicitly disable ssr for a dyanamic import, ie.
`dynamic(() => import('../components/Cube'), { ssr

[2020-06-10 09:23] Fasani commented on #36
And if you add the decorator to the export does that change anything?

[code]

[2020-06-10 09:25] gsimone commented on #36
The story with the knobs is the second one - line 83 for the decorator -

[2020-06-10 09:33] Fasani commented on #36
The version I have locally right now it seems to work. `/Users/fasani/Projects/drei/.storybook/stories/OrbitControls.stories.js`
COmmit hash: `913ebfa4597e06a4590fa2e4e94ba50babadaa4f`
[code]
In the version online it looks like you did `OrbitControls.story = {` and put the decorator there but it should be 1 level higher on `OrbitControls`?

[2020-06-10 09:36] gsimone commented on #36
I'm sorry, I now realize we are talking about two different things; TransformControls is the one that doesn't change when it receives new props. The story on OrbitControls is fine, I put knobs to change the enableZoom/Pan/Rotate

[2020-06-10 09:40] epleaner commented on #2
Thanks for that, @lostfictions . Doesn't fix this unresponsive FirstPersonControls issue unfortunately, but this is useful in general.

[2020-06-10 10:16] Fasani commented on #36
I feel like it has to be related to the storybook setup, I modified this example online and the arrows do hide/show when changing state plus mode works and in theory it the same conceptually. Just different points of connection (storybook vs react-three-gui)

https://codesandbox.io/s/r3f-drei-transformcontrols-l028w?file=/src/index.js

[2020-06-10 10:23] gsimone commented on #36
I'm sorry, the storybook looks like the original one, maybe it didn't save

[2020-06-10 10:26] Fasani commented on #36
I pressed save, but still mode is there I guess?

[2020-06-10 10:30] gsimone commented on #36
You are right, it does work https://codesandbox.io/s/r3f-drei-transformcontrols-rhvgz?file=/src/index.js I put mode as a prop and it works as expected. Weird, I'll try looking into it.

[2020-06-10 10:31] gsimone commented on #36
@drcmda you should probably update the TransformControls sandbox example to use `mode` prop instead of `controls.setMode(mode)`

[2020-06-10 11:04] gsimone commented on #36
It was indeed a storybook problem:

[code]

Knobs on Story work while knobs on MyComponent wouldn't. It works in OrbitControl's story because IT IS the story component.

[2020-06-11 23:56] cristianvj opened #39 "Frame blue when I use Orbitcontrols"
Hello everyone, when I use OrbitControls and I make click on the 3D object, appear a blue frame. I need to remove it. Thanks

[2020-06-12 07:07] drcmda commented on #39
not sure what you mean, please make a very reduced codesandbox. its probably just css focus from how it sounds.

[2020-06-12 10:23] neefrehman opened #40 "OrbitControl typings don't allow passing target as array"
I've just moved a project to TypeScript and have noticed that in the `target` prop for `OrbitControls` I can no longer pass an array due to typings. I now have to import `Vector3` from `three` instead.

Old way (JS only):
[code]

Workaround (TS):
[code]

While the workaround is simple, it would be nice to accept an array in TS for parity. I'm assuing that the solution will be similar to this one f

[2020-06-12 10:38] #40 closed

[2020-06-12 10:38] drcmda commented on #40
should be fixed

[2020-06-12 10:42] neefrehman commented on #40
confirmed working. thanks!

[2020-06-17 07:58] dumaron opened #41 "Preventing onClick event when panning with MapControls"
I'm trying to move a 2d plane with clickable objects.
Everything works fine with `MapControls`, but if I start panning when the cursor is over an object a click event is triggered when the mouse is released.

[Here's a sandbox](https://codesandbox.io/s/react-three-fiber-map-0s5e8?file=/src/index.js) to show the problem. The black objects are clickable: try to move the map starting from one of them

[2020-06-17 08:07] giulioz commented on #41
I've had the same problem in another project, I ended up rewriting MapControls using [react-use-gesture](https://github.com/react-spring/react-use-gesture).

The key idea is to begin a pan only if the movement exceeds a delta, and stop the event bubbling if panning has started:

[code]

[2020-06-17 08:44] gsimone commented on #41
This could probably be a good thing to add to Drei

[2020-06-17 09:12] drcmda commented on #41
the thing is that it's still expected behaviour, for instance try it with a dom element. the "Write / Preview" tabs here on github for instance. you can click, move, release and as long as it's the same target click will fire. r3f emulates that.

one way to circumvent it could be to switch off canvas events while controls are active: https://codesandbox.io/s/react-three-fiber-map-pm6m6

these useg

[2020-06-17 09:35] giulioz commented on #41
I'm fixing my implementation and posting it as pull request.
Are you sure about programmatic steering? Wouldn't be better getting pan/zoom from props?

[2020-06-17 10:01] youroff commented on #41
This is what I did to tell `click` from `move/drag`:
https://github.com/youroff/planet_disco/blob/master/assets/js/planet_disco/genres_view/genre_cloud.jsx#L15-L43

It looks a bit ugly, but it works. However I'd love to see more general solution at the higher level.

[2020-06-17 11:19] giulioz commented on #41
@dumaron is this helpful?

https://codesandbox.io/s/r3f-scrollcontrols-kt4ey

[2020-06-17 13:03] dumaron commented on #41
Thanks, @giulioz ! While this example is helpful and it achieves my goal, I've some doubts about it.

By using the `clickDisabled` prop derived from `scrollProps.dragging`, it needs explicit handling of the click/pan aspect. This way of structuring the code is effective but might be tedious if the click handlers are nested under many levels of components. It's possible to use a context (that may e

[2020-06-17 13:10] giulioz commented on #41
A better way to handle it may be to globally disable click events on r3f raycaster with `scrollProps.dragging`, instead of handling disable separately for every handler 🤔

[2020-06-17 16:03] drcmda commented on #41
@giulioz that would be great, i guess orbit and trackball and the two most used. if we had that in useGesture form with some way to drive it by code or props, that would be a huge step!

as for props, the problem is that it will go out of sync. this is why react for instance doesn't have a scrollOffset prop - it makes little sense because interaction changes state. image you set zoom={10} and it l

[2020-06-17 16:15] drcmda commented on #41
the thing is, if you had a drag going on an element, i dont think there would be a click, and if so it would probably a bug. but youre using another event source, orbit uses window events. so im almost 99% sure you would run into the same issue if you wanted that behaviour with the dom.

if there's a solution that's not specific to a single usecase and that isn't hacky - i would merge it.

[2020-06-17 18:51] Fasani opened #42 "Request: Add a <BackgroundPlane/>"
Reminder to myself to add a full-size background plane component.

https://gist.github.com/pfreema1/091b088481deca42b88d3f83f13cf1b8

[2020-06-18 02:44] neftaly opened #43 "<HTML> is not PascalCase"
`<HTML>` primitives throw the following linting error with default standard/semistandard(/eslint?) config:

[code]

Is it possible to rename `<HTML>` back to `<Dom>` (as was in r3f) or similar?

[2020-06-18 03:00] neftaly commented on #43
I'm happy to make a PR for this BTW

[2020-06-18 13:10] drcmda commented on #43
better use import { HTML as Html } for now on. changing the name again after changing repos would confuse the hell out of people. i wasnt aware of that rule :-S

[2020-06-18 13:11] gsimone commented on #43
We could keep supporting HTML with a warning and alias it to Html ( while referring to Html in the docs )

[2020-06-18 15:59] drcmda commented on #43
That would also work ...

[2020-06-19 01:52] neftaly commented on #41
I had a similar problem, and have been working on a different system for camera/gesture handling. I pulled some code out in case it helps someone in the meantime: https://github.com/probability-nz/r3f-gesture-example

You can see this approach in use [here](https://beta.probability.nz), though it's only really meant to be used with a multitouch screen at the moment.

[2020-06-19 08:39] Fasani commented on #42
Sorry, I am a noob, this is technically covered by `useAspect()` already, so it is not needed.

[code]

[2020-06-19 08:39] #42 closed

[2020-06-19 08:57] gsimone commented on #42
Well, you gave a me a good idea for the `useHelper` storybook lol

[2020-06-19 10:56] drcmda commented on #42
@Fasani if its really just about fullscreen, if the aspect doesnt matter, then this will do as well:

[code]

[2020-06-19 11:55] gsimone commented on #39
It's the canvas element getting focus, it only happens when using OrbitControls

[2020-06-19 12:53] Fasani commented on #42
Thanks @drcmda

Then I discover that I need to do `height * window.devicePixelRatio` or the plane area does not fill the screen, is this expected? Also, I did not see r3f setting `.setPixelRatio()` so now wonder if I should do this manually to make a crisper canvas?  (if I understood this `setPixelRatio` correctly...).

[2020-06-19 13:33] gsimone commented on #42
I added this example to the storybook https://drei-storybook-beta.netlify.app/?path=/story/misc-useaspect--texture-story
Is this what you had in mind?

[2020-06-19 15:00] drcmda commented on #42
[code]

you can get pixelration like so

[code]

but indeed, it looks like i didnt take it into account for the viewport. if you want to try it it's in `getCurrentViewport` in canvas.tsx. but it should work for both ortho and persp cameras. not sure if we also have to multiple PR in ortho mode?

[2020-06-19 18:24] Fasani commented on #42
I will check + add it.. I need to start getting hands dirty in TypeScript.

[2020-06-19 18:52] Fasani commented on #42
@drcmda just a quick question about your `drei` / `react-three-fiber` workflow.

I made some `pixelRatio` changes in the `v5` branch in the `canvas.tsx` file. I have a demo project locally where I can test this pretty quickly so my current process is to run `npm run build` and then just directly reference the new build in my project.

Just wondering how do you usually build/test new `drei` compone

[2020-06-19 19:36] gsimone commented on #42
The answer to this question should be added to a contribution guide

[2020-06-19 20:02] Fasani commented on #42
I agree! I’m happy to be the first consumer  and fill in the gaps and put it in the wiki 😍

[2020-06-19 20:36] gsimone commented on #42
Btw for drei I use the storybook, just import the new stuff in a story and work on it like a regular dev server.

[2020-06-19 23:10] Fasani commented on #42
I spent the evening looking into `npm link` and then `yarn link` but neither really helped me. I then found this (https://github.com/FormidableLabs/lank) which seems cool but again with no real success (yet). Time to hit the sack.

[2020-06-20 07:16] drcmda commented on #42
R3f examples uses cra-rewired and an alias into source, so you can debug directly

[2020-06-21 17:26] HKalbasi opened #44 "Add a draw-helper prop to cameras"
CameraHelper in three js is a very good thing for debugging cameras. It does not play well with react-three-fiber because it need camera as its parameter. Adding a draw-helper prop to camera components in drei could solve this problem. When we need to debug our camera, we can set
```<Camera makeDefault={false} defaultHelper={true}/>``` and we can see and debug the camera.

[2020-06-21 19:10] Fasani commented on #42
@drcmda further investigation on this topic, in the end, the pixel ratio is not needed to calculate the viewport. Ths issue I had was a silly one, I had the plane wrapped in a container which had a z position of -5. Obviously this made it look like the panel was not big enough but when setting the panel to have a position of 0 in the Z then it works as expected even when you change pixel ratio.

[2020-06-22 15:59] talentlessguy opened #45 "Property 'time' is missing in MeshWobbleMaterial"
`time` prop should be optional because it's not required for `MeshWobbleMaterial` to work in TypeScript.

[2020-06-23 03:07] neftaly commented on #43
Would it be better to rename this to `<View>`, for future RN support?

[2020-06-23 06:45] #45 closed

[2020-06-23 14:06] gsimone commented on #44
You could try with `useHelper`, something like

[code]

[2020-06-23 14:15] gsimone commented on #44
You can take a look at a code example here: https://drei-storybook-beta.netlify.app/?path=/story/misc-usehelper--camera-story

[2020-06-23 19:26] cristianvj commented on #39
Hello, excuse me for responding late. Watch this example and clic on the object so you see a blue focus around the canvas. [Example here](https://codesandbox.io/s/r3f-contact-shadow-tio14?file=/src/index.js)

![Screen Shot 2020-06-23 at 2 12 58 PM](https://user-images.githubusercontent.com/18078281/85449532-7784cf80-b55d-11ea-9bc0-72a310943e22.png)

[2020-06-23 19:36] cristianvj commented on #39
I know that I can remove with CSS, but is important prevent it from appearing by default.
[code]

[2020-06-26 13:50] unphased opened #48 "Sky does not work with typescript"
The error I'm getting is

    Type '{ sunPosition: Vector3; }' is not assignable to type 'IntrinsicAttributes & RefAttributes<Sky>'.
      Property 'sunPosition' does not exist on type 'IntrinsicAttributes & RefAttributes<Sky>'.  TS2322

As such I'm not able to set this prop value on the Sky.

[2020-06-26 14:35] HKalbasi commented on #44
Seems good enough. Thank you.

[2020-06-26 14:35] #44 closed

[2020-06-26 15:13] unphased commented on #48
Update: I learned how to properly use the @ts-expect-error comment in TSX and it was able to work around this issue, and props work. Maybe we can try to leave the issue open though?

[2020-06-28 02:33] flyon opened #50 "Can't import in node.js"
I'm having trouble importing this module for code that runs both on the server as well as in the browser (through a webpack bundle).

I'm imorting things like this:
import { HTML } from "drei";

Which results in an error:

[code]

Any way to import this library in node without it resulting in errors?

[2020-06-28 09:19] drcmda commented on #50
jsm is from threejs, they have untransipiled import statement. if you use node you can transpile or use a node version that understands imports.

[2020-06-29 03:06] flyon commented on #50
Thank you for the reply.
I run the latest version of node. Also doesn't work with --experimental-models flag or "type" : "module" in package.json.

I would understand if you cant help with this, but my question would be: I would transpile drei & three .. put the output in my own folder and include that? It just seems a bit weird to transpile from node_modules

[2020-06-29 11:08] drcmda commented on #50
i have never used next but im sure this problem must come up often as import statements become normalized. otherwise i think there's nothing that we can do here. orbitcontrols is a threejs feature and their export. without the drei wrapper that makes it easier to use you'd run into the same problem. but i would still suggest opening an issue on their tracker, they also must've have come across thi

[2020-07-01 22:30] #48 closed

[2020-07-02 06:20] Franckapik opened #51 "How to start/stop audio using PositionalAudio?"
Hi,
Thank you for this library !
I was wondering what is the way to start/stop audio with PositionalAudio?
Here is my code  :

[code]

[2020-07-03 07:17] drcmda commented on #51
if you put a ref on it you get the threejs class, you can call all the methods that it has. but from what i thought PA starts/stops when objects come near the threshold.

[2020-07-04 05:14] RobRendell opened #52 "[Documentation] HTML scaleFactor prop"
It would be nice if the doco for the scaleFactor prop of the HTML component mentioned that the HTML element is also scaled based on the distance to a PerspectiveCamera, but not for an OrthographicCamera or if scaleFactor is undefined.

[2020-07-04 09:18] gsimone opened #53 "Add shortcuts for common loaders"
These could be useful to simplify common loader use-cases, having to import from examples is counter-intuitive.

[code]

[2020-07-04 22:38] jarjav opened #54 "unnecessary horizontal scrollbar"
if fullscreen prop is added to HTML tag

`<HTML fullscreen ... />`

and content height is bigger than 100vh, horizontal scrollbar appeared (because of vertical scrollbar)

I think that horizontal scrollbal is unnecessary and not pretty because of content width is less than 100%

[2020-07-05 10:19] drcmda commented on #52
could you make a pr for correct wording? my germany english is a complete mess :-(

[2020-07-05 10:22] drcmda commented on #53
seems like a good idea! you can go ahead, im tired of typing the examples/jsm stuff for real 😄

[2020-07-05 10:23] drcmda commented on #54
it should have overflow: hidden, is that correct?

[2020-07-05 11:36] huntercaron commented on #50
Also running into this with nextjs – bit of a shame as next is probably the easiest / most minimal react website setup with well supported fast refresh right now but I couldn't find a solid issue / PR

Current fix that worked for me
`yarn add next-transpile-modules`

then add a `next.config.js` in your root dir if you don't have one already
[code]

Will take a sec on the first run to transpile eve

[2020-07-05 11:44] huntercaron commented on #50
Also running into this with next - not sure if you're using next as well but the solution does seem to be transpilling for now

Current fix that worked for me
`yarn add next-transpile-modules`

then in `next.config.js`
[code]

Will take a sec on the first run to transpile everything but it all seems to work.

[2020-07-05 11:53] gsimone commented on #50
I'll make a PR to update the three-js example

[2020-07-05 12:06] gsimone commented on #2
I opened a PR to improve the next.js with-three example, please refer to that and if you can contribute 👍

https://github.com/vercel/next.js/pull/14864

[2020-07-05 21:52] jarjav commented on #54
no

`<HTML fullscreen style={{ overflow: "hidden" }} ...>` does not work as expected

your example at https://codesandbox.io/s/r3f-contact-shadow-jvssp (I try implement in my project)
also has horizontal scrollbar

[2020-07-05 23:20] RobRendell commented on #52
Ok, PR created.  See what you think.

And your English is fine - a heck of a lot better than my German!

Danke schoen :)

[2020-07-06 07:21] #52 closed

[2020-07-07 05:51] Franckapik commented on #51
That's right! I'm sorry if i have not thinked about the ref on PositionalAudio ... I will find a way to change the audio file with URL to allow a kind of playlist with it ... Thank you again!

[2020-07-07 07:41] #51 closed

[2020-07-07 09:15] #43 closed

[2020-07-09 21:05] jarjav commented on #54
Because overflow: hidden hide both scrollbars overflowX is necessary instead of overflow.
Also in your example is place to add overflowX not HTML tag, but scrollArea div.

Here is solution I find:
[code]

[2020-07-09 21:05] #54 closed

[2020-07-11 08:28] m9dfukc opened #56 "<Line /> Codesandbox example is broken"
The codesandbox example for `<Line />` results in several errors and won't show any output ...

[code]

[2020-07-11 09:37] giulioz commented on #56
It was because the sandbox used an older version of Drei with wrong exports. It should be fixed now.

<img width="1058" alt="immagine" src="https://user-images.githubusercontent.com/1353142/87221253-d5415600-c36a-11ea-9d20-5173cda49aca.png">

[2020-07-11 09:38] #56 closed

[2020-07-13 20:09] gsimone opened #57 "UMD and CJS imports cause errors when using drei with vite"
Webpack works around this problem, might be worth fixing.

https://twitter.com/youyuxi/status/1282767177259659265

Repro: https://github.com/stolinski/vite-test

[2020-07-13 21:58] lojjic commented on #15
Think this was implemented a while ago. Closing.

[2020-07-13 21:58] #15 closed

[2020-07-14 03:36] kennetpostigo commented on #57
I've ran into this with Next.js as well, I ended up having to use the nextjs transpile plugin, but it was a lot of pain to figure that out. had to do with imports from `jsm` folder in threejs from drei internals

[2020-07-14 07:40] drcmda commented on #57
i think this is fixed now

[2020-07-14 08:41] gsimone commented on #57
Yes, everything works as expected now https://github.com/gsimone/vite-test 👍

[2020-07-14 08:41] #57 closed

[2020-07-16 08:42] n1ru4l opened #59 "Attempted import error: 'addAfterEffect' is not exported from 'react-three-fiber'."
I am experiencing this issue with create-react-app when building for production:

[code]

[code]

[2020-07-16 09:55] n1ru4l commented on #59
Fixed by upgrading to `react-three-fiber@4.2.17`

[2020-07-16 09:55] #59 closed

[2020-07-20 10:41] neefrehman commented on #59
It might be worth reopening this issue as I've just discovered it exists on the `react-three-fiber` 5.0 beta.

i can see the only import of `addAfterEffect` from r3f comes from the `Stats` component.

[2020-07-20 10:44] drcmda commented on #59
you mean it does not exist for 5.0 beta?

[2020-07-20 10:46] neefrehman commented on #59
sorry, this import error exists in the beta, because `addAfterEffect` does not

[2020-07-20 10:52] drcmda commented on #59
published a new beta

[2020-07-22 06:06] n1ru4l opened #62 "Updating Text content"
I have the following node:

[code]

When the text changes I only see the first character of the new text appearing. The other ones are invisible, the character is still positioned as if the other characters would be present.

When adding a key property to the Text element with the contents of the props.textLabel this issue is resolved. However, I assume this is some kind of a bug and changing the

[2020-07-22 06:40] n1ru4l commented on #62
This might be related to https://github.com/protectwise/troika/blob/master/packages/troika-three-text/CHANGELOG.md#bug-fixes

[2020-07-22 06:53] drcmda commented on #62
the way text works internally is a bit unfortunate. in threejs mutation and cloning is normal, but in reacts immutable world that causes problems. this component seems to have some trouble updating. anyway, i have refreshed dependencies and published a new patch.

[2020-07-22 06:59] n1ru4l commented on #62
Okay I updated to 0.0.64 and now I have the issue that the other texts disappear when changing another text.

[2020-07-22 07:13] drcmda commented on #62
could you try with plain troika and see if you figure out a solution?

this is the wrap that drei publishes

[code]

you could copy this into a local file for testing. if you find something a PR would be very welcome!

[2020-07-22 08:04] n1ru4l commented on #62
I also get the following warning on chrome when the text is updated for the first time:

[code]

[2020-07-22 08:25] n1ru4l commented on #62
Cannot reproduce it either -.- https://codesandbox.io/s/troika-3d-text-via-react-three-fiber-94sv3?file=/src/index.js

[2020-07-22 08:58] n1ru4l commented on #62
Maybe @lojjic has an idea

[2020-07-22 09:49] duvet86 opened #63 "Fly controls pull request"
Hi,

thanks for the effort and very nice utilities.

My team and I have implemented fly controls and we would like to submit a pull request, can we?

Thank you

[2020-07-22 14:13] drcmda commented on #63
Sure!

[2020-07-22 14:45] lojjic commented on #62
@n1ru4l Thanks -- I'm able to reproduce the new bug in your codesandbox, if I make the text length change on update.

This is definitely related to my attempted fix/workaround in https://github.com/protectwise/troika/issues/69. Three.js changed some internals that broke how I update the geometries, and it looks like my attempted workaround caused this new disappearing text bug. I will fix it and p

[2020-07-22 17:19] n1ru4l commented on #62
@lojjic awesome 😍 thanks for the fast response!

[2020-07-22 17:55] lojjic commented on #62
OK, `troika-three-text` 0.30.2 should fix the disappearing text issue.

[2020-07-22 20:10] n1ru4l commented on #62
@lojjic Yes it works as expected 🎉 After bumping the version here to 0.30.2 I think we can close this issue! @drcmda Could you push the v0.0.64 changes? Then I could create a pull request for bumping the version

[2020-07-23 20:25] ChrisDesigns opened #67 "DeviceOrientationControls implemenation"
I have created an implementation for DeviceOrientationControls and have created a PR #66 . It might be useful for others and is one less controller missing from Three.

[2020-07-23 22:45] johnmarinelli opened #68 "Audio does not stop when clicking out of the PositionalAudio storybook"
On Chrome Version 83.0.4103.116,

going to the PositionalAudio->Default component, and then navigating to a different component, will not stop the audio playing from PositionalAudio

https://drei-storybook-beta.netlify.app/?path=/story/abstractions-positionalaudio--positional-audio-scene-st

[2020-07-24 08:42] #68 closed

[2020-07-24 14:41] gsimone opened #71 "Getting the sound object through <PositionalAudio />"
I tried whipping up an AudioAnalyser demo using <PositionalAudio /> ( from this discussion https://github.com/react-spring/react-three-fiber/discussions/520 ) but there seems to be a problem accessing the ref

Sandbox here: https://codesandbox.io/s/r3f-audo-analyser-cmieg

I had to work around it by checking in useFrame if the ref was defined:

[code]

This smells really bad, I'm not sure if I'm m

[2020-07-24 15:05] drcmda commented on #71
Oh, that would be unfortunate. I will look into it when I have time

[2020-07-25 08:33] #67 closed

[2020-07-25 08:55] gsimone opened #72 "DeviceOrientationControls is missing invalidate on change"
We added DeviceOrientationControls in #66 but THREE.DeviceOrientationControls doesn't dispatch a change event:
https://github.com/mrdoob/three.js/blob/master/examples/jsm/controls/DeviceOrientationControls.js

Same for FlyControls ( being added in #64 )
https://github.com/mrdoob/three.js/blob/master/examples/jsm/controls/FlyControls.js

Compare to OrbitControls
https://github.com/mrdoob/three.js/b

[2020-07-25 10:52] gsimone commented on #72
Opened a PR on three.js https://github.com/mrdoob/three.js/pull/19924

[2020-07-25 12:08] #53 closed

[2020-07-25 12:30] drcmda commented on #71
@gsimone @davidalexandercurrie

positionalAudio is an async component, it uses audioloader, which runs a fetch request. so the ref on it will become active once the loader has finished loading. in other words you can't possibly catch it with useEffect.

but you can using suspense in concurrent mode, because all components inside a suspense block are only rendered once all suspensions have been lif

[2020-07-25 12:37] #71 closed

[2020-07-27 06:38] #63 closed

[2020-08-01 12:48] #50 closed

[2020-08-01 13:02] #2 closed

[2020-08-01 13:04] #17 closed

[2020-08-01 13:05] gsimone commented on #25
Closing since it's a bunch of versions ago. Please reopen if it's still an issue with the latest version 👍

[2020-08-01 13:05] #25 closed

[2020-08-01 13:14] #39 closed

[2020-08-01 13:34] gsimone commented on #8
Closing this since it's dated, please reopen if it's still a problem with the latest version

[2020-08-01 13:34] #8 closed

[2020-08-02 19:35] ChrisDesigns commented on #67
After some checking, I believe DeviceOrientationControls is missing from the index file. This makes it more difficult to import and use it. I missed this in my initial PR due to an over site, since the storybook used a local implementation. I created PR #77  to fix this issue. Sorry about that!

[2020-08-02 20:33] #6 closed

[2020-08-03 15:31] ivnaleta opened #80 "event.stopPropagation() not working with Html"
Hi.
I want to create some popup over another mesh with <Html>. It works, but click event  fired twice - first in popup div and second in mesh under it.
I tried event.stopPropagation() on first event but it didn't work.
Example - https://codesandbox.io/s/event-propagation-from-html-f0t4v?file=/src/index.js
(if red div box is clicked there are two messages in console - one from div box and one from

[2020-08-03 17:45] drcmda commented on #80
this is because the html renders somewhere within the canvases parent div, it cant stop the propagation. if you portal html content in front of the canvas, then you can: https://codesandbox.io/s/event-propagation-from-html-pchhd?file=/src/index.js

[2020-08-04 06:54] robksawyer opened #81 "Selectable Text: Is there a way to disable it?"
I'd like to be able to disable the text selection feature of the troika text. Possible?

[2020-08-04 15:00] danielacorner opened #82 "simple TypeScript error in dist/MeshDistortMaterial.d.ts"
Hiya,

When installing & trying to use drei in my react project, I get a type error:

![image](https://user-images.githubusercontent.com/9141196/89309605-9c329380-d641-11ea-8967-7abebd72305a.png)

I managed to fix it in my node_modules like this:

![image](https://user-images.githubusercontent.com/9141196/89309560-8ae98700-d641-11ea-80b3-16f8cb7a23f7.png)

Hope that helps!

[2020-08-05 23:02] gsimone opened #83 "Make it easy to toggle useHelper"

[2020-08-05 23:06] drcmda commented on #82
@gsimone

[2020-08-05 23:11] gsimone commented on #82
Do materials in threejs have a transparency prop? I know there's transparent and opacity but can't recall transparency. Could it be a new prop that is missing in the types?

[2020-08-05 23:33] stephencorwin commented on #82
There is a `transparent` prop, but it doesn't look like there is a `transparency` one.
https://threejs.org/docs/index.html#api/en/materials/Material.transparent

[2020-08-05 23:43] drcmda commented on #82
yes, there was, but it was recently changed to transmission i think.

[2020-08-06 06:14] n1ru4l commented on #62
Drei now uses `^0.30.2` so this issue can be closed.

https://github.com/react-spring/drei/blob/a752de0405eec8fb3d79115c53c192ec8337a284/package.json#L58

[2020-08-06 06:14] #62 closed

[2020-08-08 08:18] #82 closed

[2020-08-08 08:29] akella opened #84 "[help] Implementing record GIF/video functionality"
Hi! So, everybody who develops r3f things wants to share videos, but its either screen-grabs or quicktime, which is not good, and hard to loop.
So i thought it might be a great idea to do a GIF recorder with r3f. Or, lets say, generative art tool.

I did this with ccapture, which is working, but im not sure how to better implement that all yet.
There are 3 things to improve, which im having hard t

[2020-08-08 08:39] gsimone commented on #84
Quick answer for point 3 while I think about the other points: we tend to use [react-three-gui ](https://github.com/ueno-llc/react-three-gui), example here: https://r3f-control.netlify.app/?ctrl ( code https://github.com/gsimone/r3f-control )

[2020-08-09 17:07] #80 closed

[2020-08-09 17:08] ivnaleta commented on #80
thanks

[2020-08-10 09:03] thedrumz opened #85 "TransformControls apply in all directions even with some axis disabled"
I'm implementing transformControls but even when I disable some axis it still transforming in this direction. You can test it in this fiddle https://codesandbox.io/s/r3f-drei-transformcontrols-0ngho?file=/src/index.js if you drag from the center of the gizmo the rotation applies in all directions
But I was testing your storybook and this problem is solved https://drei-storybook.netlify.app/?path=/

[2020-08-10 13:21] stephencorwin commented on #85
On the left of the codesandbox, the version of drei is still using `0.015`. Click this and change it to the most recent version.
![image](https://user-images.githubusercontent.com/3931162/89787048-d8a33b00-daea-11ea-86f9-f16b2b569e45.png)

[2020-08-10 13:51] thedrumz commented on #85
The expected behavior when you disable X and Y axis is that the rotation applies only in Z axis. In fact, the threejs example works like expected https://threejs.org/examples/#misc_controls_transform

[2020-08-10 14:27] thedrumz commented on #85
Sorry, you are right, it was a transformControls issue in an older version of threejs, with the new version it's working as expected.
Thanks!

[2020-08-10 14:27] #85 closed

[2020-08-10 20:22] lojjic commented on #81
@robksawyer Can you clarify what you mean by "text selection feature"? There is some base support for caret positions in troika-three-text, but unless there's a bunch of extra logic in `drei` that's making use of that data to perform selection of ranges (which I don't see) then there's no "text selection" implemented per se.

[2020-08-18 00:52] ellkell opened #88 "softShadows rendering with edge"
Noticed that soft shadows aren't that soft anymore, wondering if it's just my computer or an update changed something.  Same issue on Chrome, Firefox and Safari macOS Mojave.

![Screen Shot 2020-08-17 at 5 48 52 PM](https://user-images.githubusercontent.com/8972844/90458015-0c193300-e0b2-11ea-93e9-e9bca51ad222.png)

[2020-08-18 01:04] ellkell commented on #88
Looks like adjusting the samples to 16 smoothed it out, still weird how drastic the difference between 17 and 16 samples is ¯\_(ツ)_/¯

[2020-08-18 01:16] acolbourn opened #89 "Distort and Wobble material constructor problem"
Hi,

I discovered a bug that should be a quick fix.  In the main MeshWobbleMaterial example (link: https://codesandbox.io/s/r3f-sky-g5373), with versions past 0.0.67 the following error occurs:

Class constructor WobbleMaterialImpl cannot be invoked without 'new'

This error can be easily reproduced in that codesandbox by switching drei to version 0.0.68

I believe this is probably caused by a cha

[2020-08-22 14:53] gsimone opened #94 "Chore: invalidateFrame by default and remove anti-aliasing in Storybook"
Can be done globally by changing the scene decorator here https://github.com/react-spring/drei/blob/master/.storybook/Setup.tsx

[2020-08-24 03:39] robksawyer commented on #89
I'm running into the same issue.

See https://codesandbox.io/s/bold-http-i0lmf?file=/src/App.js

[2020-08-24 03:43] robksawyer commented on #81
Actually, I think my issue was something else. I'm noticing that the troika text isn't selectable by default.

[2020-08-24 03:43] #81 closed

[2020-08-24 04:08] stephencorwin commented on #89
@acolbourn
It seems to be an issue that only occurs when using these materials in combination with the `<Text />` component.
https://codesandbox.io/s/r3f-drei-meshwobblematerial-forked-2r443?file=/src/App.js

This is running 1.2.0 and by removing the material from `<Text />`, we still have the wobble when clicking on the `<Donut />` or `<Image />`.

[2020-08-24 07:33] disambiguator opened #96 "Line does not type its material and geometry accurately in TypeScript"
When creating a Line and referencing it using a ref, TypeScript does not type its material and geometry as LineMaterial or LineGeometry respectively without a cast. It is otherwise typed as `Material | Material[]` and geometry as `Geometry | BufferGeometry`. Maybe there is a way within drei to type this accurately for users.

Example here:
https://github.com/disambiguator/floating_points/blob/7e9c

[2020-08-24 07:57] gsimone commented on #84
This is now being worked on here https://github.com/gsimone/use-capture

[2020-08-24 07:57] #84 closed

[2020-08-24 09:58] gsimone opened #97 "linewidth prop in Line component should be camel case"
Can we make an alias to avoid a breaking change?

[2020-08-24 10:35] giulioz commented on #97
It's lowercase since it injects into LineMaterial properties directly.
https://github.com/mrdoob/three.js/blob/3a993b4180f5230e1f34a21b30caaff9eb8ac44f/examples/jsm/lines/LineMaterial.d.ts#L28

Unfortunately it's the only one lowercase.

[2020-08-24 10:48] giulioz commented on #96
This problem is caused by THREE.js typings and should be fixed in the next release: https://github.com/mrdoob/three.js/pull/20165

Feel free to open again if next THREE release doesn't solve.

[2020-08-24 10:48] #96 closed

[2020-08-24 10:53] #97 closed

[2020-08-26 08:35] jmatsushita opened #99 "invalidateFrameLoop with drei Text"
Hi there, I'm trying to use invalidateFrameLoop with drei Text but as you can see here https://codesandbox.io/s/r3f-invalidate-frameloop-drei-text-x5ndk?file=/src/index.js the Text doesn't display on the first frame.

Could there be something going on because [`sync()` is asynchronous](https://github.com/protectwise/troika/blob/master/packages/troika-three-text/src/Text.js#L259) and `useLayoutEffe

[2020-08-26 08:47] giulioz commented on #99
https://codesandbox.io/s/troika-3d-text-via-react-three-fiber-invalidateframeloop-forked-g7r24?file=/src/index.js

Calling `invalidate` after sync solves the issue. I'm making a fix, thanks for pointing this out.

[2020-08-26 09:34] jmatsushita opened #101 "Troika Layout and Text"
Hi there, it's really great that @drcmda amd @lojjic are working to improve interop between r3f and troika! Following up on the conversation on r3f and troika layout in this issue https://github.com/react-spring/drei/pull/20#issuecomment-632173587 from @skuteli.

I'm trying to [add troika text (via the drei module) to a Flex layout](https://codesandbox.io/s/yoga-r3f-troika-flex-text-50kht?file=/sr

[2020-08-26 09:39] jmatsushita commented on #99
Makes sense. Thanks!

[2020-08-26 09:46] skuteli commented on #101
Hi:)
<Flex> component doesn't work with Troika's text at the moment.
The reason for this is that it uses boundingBox for measurement of item's dimensions, and this is not working with Troika's text geometry - only bounding sphere is accessible.
Ideally we would use the measurement function provided by troika, but this is not trivial due to different lifecycle (at least I tried it and failed)
One s

[2020-08-26 13:12] #99 closed

[2020-08-26 14:25] stephencorwin commented on #89
Possibly related: https://github.com/react-spring/drei/pull/20

[2020-08-26 18:14] jmatsushita commented on #101
Thanks for the pointer! I've had a look and added `boundingBox`es around the text, then I created a helper component `<Paragraph>` to allow `<Box>` to pick up the [text properties needed by Yoga on `styleNodes`](https://github.com/protectwise/troika/blob/1b52fc9a9a5a3ae03c27d0d12a0f62c3d73fe599/packages/troika-flex-layout/src/FlexLayoutProcessor.js#L218) (for now in a fork of `troika-three-text` h

[2020-08-26 18:48] lojjic commented on #101
@jmatsushita Nice progress on that! I tried playing with that CSB briefly too but you got it further than I did.

I think you're close. A couple things I see:
- For text nodes you need to make sure to skip the useLayoutEffect logic that sets the styleNode's width/height to measured dimensions. Since those measured dimensions for text nodes will initially be 0x0, that forces a zero-sized flex node

[2020-08-27 06:40] jmatsushita commented on #101
Thanks a ton for the assist!!

That change pretty much solved it! Great.

Ah yes, that's a nice trap :) I think I addressed it by leaving the `flexProps.maxWidth` alone.

Is it correct that the reason there is no `boundingBox` calculation on text is that in troika text is meant to be laid out in a UI Facade which will act as a container for the text and pass through its constraints?

Is it still u

[2020-08-27 14:38] jmatsushita commented on #101
Ah I see not all is well [in the sandbox](https://codesandbox.io/s/yoga-r3f-troika-flex-text-50kht)

![image](https://user-images.githubusercontent.com/356097/91402019-3f418c00-e841-11ea-8cda-de0344184292.png)

I misunderstood what you meant with `maxWidth` so I'm looking at it again.

[2020-08-28 13:36] CharlieHess opened #102 "Pinning Html to corners"
I'm pinning some `<Html>` to a corner of my viewport, like this: https://codesandbox.io/s/pinning-html-to-corners-cqqtx?file=/src/index.js

![image](https://user-images.githubusercontent.com/1865957/91566587-e7bf2100-e911-11ea-963a-1f5dfab55feb.png)

This generally works, but there is some flakiness:

1. On my mobile device, the initial render is missing some corners. Moving the phone between port

[2020-09-01 09:24] RobRendell opened #103 "Request: show example of dashed lines using Line abstraction"
I'm having no luck getting the drei Line abstraction to draw with dashed lines.  I'd love for the example codeSandBox to demo the effect in action, so I can see what I'm doing wrong.

Looking at the source, I can see that drei's version is calling computeLineDistances(), so setting `dashed` to true and `dashScale`, `dashSize` and `gapSize` to sensible values should give the dashed line effect.

(O

[2020-09-01 19:53] anutting commented on #19
Running into this issue on my react-native project as well. Is there a work-around while we wait for this to resolved?

[2020-09-02 15:09] RishabhKarnad opened #107 "Question: How to render Html at certain depth in scene"
I'm trying to implement text banners for 3d objects using `react-three-fiber`.

The `Html` is placed inside a `group`, which contains another `mesh` which is a 3d model to be rendered. The `Html` displays some text associated with the object.

[code]

Is there any way to render `Html` in such a way that it will be displayed behind other 3d objects if the mesh associated with it is obstructed by an

[2020-09-02 16:12] drcmda commented on #107
html displays either on top of your canvas or below (with the `prepend` flag). but these are still two separate worlds, the dom and webgl. html elements can have zindex of course, specifically if you provide a `scaleFactor`, but they can't be occluded by 3d content. <- if that's what you need and it's just about plain text then use drei's `<Text />` component, that one is rendered in the shader.

[2020-09-02 19:13] giulioz commented on #103
It's because it defaults to LineMaterial, not to LineDashedMaterial. I'll try to give the option to change the materials in a next version.

[2020-09-02 23:04] RobRendell commented on #103
@giulioz Ah, interesting!  Thanks! So it's a flaw in the current implementation, not in my usage of it :)

If I may suggest something, it seems to me that the existing `dashed` boolean prop that the Line component already takes should select between `LineMaterial` and `LineDashedMaterial`.

[2020-09-03 08:32] RishabhKarnad commented on #107
@drcmda Thanks for the quick reply. Some things we've been struggling with while using `Text` and sprites are:
- Accessibility (keyboard focus)
- Autoscaling to maintain the text size even when the user zooms out with a dolly cam

It's not very clear from the drei and troika-three-text docs whether these are supported.

[2020-09-03 09:17] okbody39 commented on #19
+1

[2020-09-03 10:08] drcmda commented on #107
webgl is not accessible, the spec isn't at least. it's completely up to userland to solve it unfortunately, for instance through invisible html overlays etc. html can work, but it's not part of the 3d space at all.

[2020-09-03 16:50] #4 closed

[2020-09-03 18:52] johnmarinelli opened #110 "When using a material with <Text />: Each child in a list should have a unique "key" prop."
codesandbox: https://codesandbox.io/s/bug-unique-key-ukw27?file=/src/index.js

[2020-09-03 22:41] thomasjgrady commented on #19
Also having this issue attempting to use OrbitControls.

[2020-09-04 04:18] mattrossman commented on #107
@drcmda Is there interest/plans in having a component that brings 2D page elements into the 3D space, a la [three-web-layer](https://github.com/aelatgt/three-web-layer) or [web2vr](https://github.com/kikoano/web2vr)?

[2020-09-04 06:17] drcmda commented on #107
you can use these two, if they work.

[2020-09-04 07:26] RishabhKarnad commented on #107
Thanks. I'll look into the options mentioned by @mattrossman too. Closing this for now.

[2020-09-04 07:26] #107 closed

[2020-09-04 09:12] johnmarinelli commented on #110
whoops, original codesandbox link was not the correct sandbox.  updated the link

[2020-09-04 15:54] #72 closed

[2020-09-05 11:15] juuyan opened #113 "In OrbitControls' typing all properties are required?"
I get the following warning when using OrbitControls helper in TS
![image](https://user-images.githubusercontent.com/48427014/92303924-1c834600-efac-11ea-9d53-04cba22f6df9.png)

[2020-09-05 13:39] RobRendell commented on #113
It's not just OrbitControls.  Many (perhaps all?) of Drei's components appear to have Typescript types with all their props marked as required, whether they're optional or not.  I get hundreds of warnings from my IDE whenever I commit.

[code]

[code]

[2020-09-05 13:41] juuyan commented on #113
@RobRendell lol...bad to hear that...do you have any workaround?

[2020-09-05 14:07] drcmda commented on #113
is this new? it shouldnt be like that - we never got any complaints before. could you look into the types to see what's up?

[2020-09-05 15:08] juuyan commented on #113
Yeah its new. And I've checked the source code, yet so far I couldn't find the reason... The props should be all optional according to the typing.... Is there any possible issue might lead to this?

my local set:

yarn berry

tsconfig:
[code]

[2020-09-05 16:23] juuyan commented on #113
@drcmda I have done some experiments.
1. The Type OrbitControls works right.
![image](https://user-images.githubusercontent.com/48427014/92309312-0fc81780-efd7-11ea-9f16-55848bcd074f.png)

2. I've tried to define the OrbitControls component locally and it works...
![image](https://user-images.githubusercontent.com/48427014/92309284-d5f71100-efd6-11ea-823b-7f29cd26ac52.png)

[2020-09-06 00:07] RobRendell commented on #113
It seems to be a problem with my IDE's intellisense, rather than Typescript - a genuine missing required prop would be an error that would fail Typescript typechecking.

However, it's interesting that it's something about Drei's type definitions which is confusing it, when e.g. react-three-fiber's type definitions are fine.

@juuyan what IDE are you using, where you're getting the warnings?  I'm u

[2020-09-06 16:32] juuyan commented on #113
@RobRendell
I'm using Vscode @latest
I feel so.  But I have tried with and without eslint, in Yarn Berry and Classic...........all failed......Can't figure out what's wrong. Would it come from some bug in TS compile? i.e. TS cant properly handle some typing in drei

[2020-09-06 16:43] stephencorwin commented on #113
I am using vscode with drei `v1.4.0` and am not having any typing issues.
![image](https://user-images.githubusercontent.com/3931162/92330637-5ef56300-f03e-11ea-8767-9917d2f1f7ed.png)
![image](https://user-images.githubusercontent.com/3931162/92330626-500eb080-f03e-11ea-87e8-a5b990e0485f.png)

You can try restarting the typescript server using `CTR/CMD+SHIFT+P` and typing `TypeScript: Restart TS S

[2020-09-06 16:45] stephencorwin commented on #113
@juuyan @RobRendell Make sure that you **do not** have `@types/three` installed since those types are shipped with three directly now. I know that there are some weird oddities that happen if you have that package installed still.

[2020-09-06 17:13] juuyan commented on #113
@stephencorwin hey thanks. Tired and no @types/three.....so weird...😅

[2020-09-06 19:48] loklaan opened #114 "Types: Definition of the new useProgress hook overrides ThreeJS globals"
Hey folks, I noticed that the new [`useProgress`](https://github.com/react-spring/drei/blob/master/src/loaders/useProgress.tsx) assigns handlers onto `THREE.DefaultLoadingManager`, without anyway to defer or configure this behaviour.

**This is a destructive side-effect and can break `THREE.DefaultLoadingManager` in some codebases.**

Anyway, bold text aside, it can cause issues for a user, if the

[2020-09-06 22:45] RobRendell commented on #113
@stephencorwin I *did* have `@types/three` in my packages.json, but removing it didn't address the issue of the spurious warnings about Drei's components.  Thank you for the info though - it's good to clean up unnecessary dependencies!

[2020-09-07 04:22] juuyan commented on #113
@stephencorwin I have got it solved by a workaround: install its peer dependency `three` in the root of project. I'm using Yarn Berry + workspaces. Guess it is an issue caused by PnP... Asking for help in Yarn community for a solution..
![image](https://user-images.githubusercontent.com/48427014/92348080-83b40e00-f104-11ea-8259-1435ed1a1252.png)
![image](https://user-images.githubusercontent.com/4

[2020-09-07 05:58] stephencorwin commented on #113
@juuyan ah, makes sense. I'm using npm + lerna for my monorepo solution and I had THREE installed in the root already since having multiple THREE instances in the code can cause issues. Thanks for digging and coming back here with the info so others can find this later.

[2020-09-07 05:58] #113 closed

[2020-09-07 06:04] RobRendell commented on #113
Unfortunately in my case, I already have three as an explicit dependency in my project.  Oh well.

[2020-09-07 06:07] stephencorwin commented on #113
@RobRendell If you're still having issues, we can try to live debug on our discord server:
[![Discord Shield](https://discordapp.com/api/guilds/740090768164651008/widget.png?style=banner2)](https://discord.gg/ZZjjNvJ)

[2020-09-07 07:37] RobRendell commented on #113
Well, we established that it was an issue with IntelliJ Idea, rather than my project setup, since vscode didn't have the same issue with Line and Html.  Thanks, @stephencorwin !

I dug into it a bit more, and found that the error is coming from an "HTML missing required attribute" inspection, which the IDE is apparently extending to warn about React component props as well.  Since I'm using Typesc

[2020-09-08 03:31] RobRendell commented on #103
Actually, doing some more reading about this, the `LineMaterial` in Drei's Line abstraction is not the base `THREE.LineMaterial`, it's the one in `three/examples/jsm/lines/LineMaterial`, and it does support `dashed`, as long as you do the hacks outlined here: https://github.com/mrdoob/three.js/blob/22ed6755399fa180ede84bf18ff6cea0ad66f6c0/examples/webgl_lines_fat.html#L236-L239

I've raised a PR i

[2020-09-08 08:49] stephencorwin commented on #101
@jmatsushita we just released https://github.com/react-spring/react-three-flex which is a wrapper around yoga-layout.

[2020-09-08 21:22] RobRendell commented on #103
With the above PR merged, there is now a working example of a dashed Line abstraction in the Storyboard: https://drei.react-spring.io/?path=/story/abstractions-line--vertex-colors-line

Thanks!  Closing this issue.

[2020-09-08 21:22] #103 closed

[2020-09-10 07:31] gsimone opened #118 "Chore: Add story for Loader"

[2020-09-10 07:31] gsimone opened #119 "Chore: Add story for useProgress"

[2020-09-10 07:32] gsimone opened #120 "Chore: Add story for PointerLockControls"

[2020-09-10 17:04] #110 closed

[2020-09-10 17:06] stephencorwin commented on #110
Fixed in release 1.5.4

[2020-09-10 19:13] johnmarinelli opened #121 "Bug: `dispose` is read-only when using a base material for <Text />"
codesandbox: https://codesandbox.io/s/bug-dispose-is-readonly-fg6ib?file=/src/index.js

[2020-09-10 19:42] johnmarinelli opened #123 "Bug: "class constructors must be invoked with 'new'" when using <MeshWobbleMaterial/> with <Text/>"
https://codesandbox.io/s/bug-mesh-wobble-material-w-text-wl9u5?file=/src/App.js

[2020-09-11 00:15] stephencorwin commented on #101
Closing this for now as I believe react-three-flex helps solve these issues. If you wish to continue the discussion, please reopen or join us on discord:
[![Discord Shield](https://discordapp.com/api/guilds/740090768164651008/widget.png?style=banner2)](https://discord.gg/ZZjjNvJ)

[2020-09-11 00:15] #101 closed

[2020-09-12 09:42] robksawyer opened #126 "Bug: Shader isn't reloading after state updates"
See the example here, the shader is working fine until the state is updated.

https://codesandbox.io/s/r3f-displacement-shader-id5p3?file=/src/index.js

[2020-09-12 11:09] gsimone opened #127 "Chore: Add a custom material story for Text"

[2020-09-15 20:13] ptsteadman opened #132 "OrbitControls broken since 1.4.0"
See CodeSandbox: https://codesandbox.io/s/r3f-contact-shadow-forked-hc4s7?file=/src/index.js

The controls work fine up to version 1.3.2, but after 1.4.0 there's an error in the Three.JS OrbitControls update function and the controls fail to initialize:
[code]

Perhaps the API has changed somehow?

[2020-09-16 07:05] johnmarinelli commented on #121
fixed here: https://github.com/protectwise/troika/commit/4d4bfbc5d4d730eb0098d33beb1c3c562037fddf, closing issue

[2020-09-16 07:05] #121 closed

[2020-09-16 16:08] emileswain commented on #3
https://matheowis.github.io/HDRI-to-CubeMap/ is an extremly handy web tool for generating the required assets. I have a bunch of hdr equirectangular textures, but as a single texture and not in the cubemap format. It lets you create the images as pngs or hdrs.

[2020-09-16 18:52] #118 closed

[2020-09-17 15:31] jbixon13 opened #136 "Light source in <Sky />"
I would like to have a light source (directional, point, etc.) associated with a `<Sky />` component. A potential use-case would be to have the sun cast shadows on objects in the scene based on `sunPosition`. A basic API based on @drcmda suggestion would look like:

[code]

[2020-09-18 05:30] ChrisDesigns commented on #132
All controls but TransformControls seem to return an error.

DeviceOrientationControls returns:
Cannot read property 'setFromEuler' of undefined

FlyControls returns:
scope.object.translateX is not a function

Both FlyControls and MapControls return the error mentioned in your issue.

[2020-09-18 08:13] p4tric commented on #19
any updates on this issue? Also getting this on my react-native project

[2020-09-18 19:07] pr1ntr commented on #132
yeah i just spent my morning trying to figure out why none of this works...

[2020-09-18 19:50] gsimone commented on #132
@ptsteadman the sandbox works with latest drei (1.5.6) & latest react-three-fiber (4.2.21)

[2020-09-18 20:10] ptsteadman commented on #132
Thanks @gsimone ! I checked and the other controls seem to be working as well. I'll close this issue.

[2020-09-18 20:10] #132 closed

[2020-09-22 02:24] jshor opened #139 "SyntaxError: Cannot use import statement outside a module"
When running Jest using create-react-app and TypeScript, I get the following error:

[code]

It seems that drei is importing modules from `examples/jsm` in three, but that comes with the drawback that it cannot be properly transpiled by ts-jest

[2020-09-22 02:26] unphased opened #140 "Html problem for hovering tooltips"
Hi, the problem I'm having is if I make a tooltip type of thing using the Html component, the instant you put your mouse over the Html element, the mouse is now over the element (and thus no longer over the GL canvas) and the hover immediately stops, and this causes the Html to go away. So it sometimes flickers, or just disappears when this happens.

Is there a way to avoid this? It seems that we

[2020-09-22 02:30] unphased commented on #140
Actually I think since Html already supports className and I am using tailwind, sending in `pointer-events-none` should do the trick.

[2020-09-22 02:45] #140 closed

[2020-09-23 14:13] jshor commented on #139
Closing this as it's due to the way three bundles/exports its dependencies and not due to drei itself.

For now, I've set Jest to make an exception to transpile three using the following Jest config:

[code]

Another alternative is to set `compilerOptions.module` to `commonjs` in tsconfig.json to allow the `import` statement to work. I am using `create-react-app` for bundling however, which overwr

[2020-09-23 14:13] #139 closed

[2020-09-23 17:23] lojjic commented on #123
@johnmarinelli This looks like the same issue as #89, do you agree?

[2020-09-23 17:33] lojjic commented on #89
This appears to be a shortcoming of how `troika-three-text` extends the material; it assumes the base material's class was a classic JS constructor function, not a ES2015 class.

I've created https://github.com/protectwise/troika/issues/79 to see if I can fix this on my side.

[2020-09-25 09:01] earthbound1912 opened #143 "detect-gpu & Vercel: "window is not defined""
Hello! I'm using r3f and drei in my current Next.js-based project which is hosted on Vercel. There is an issue with latest versions of drei. It fails to build with the following error: "ReferenceError: window is not defined". The probem is in "node_modules/detect-gpu" package.

[2020-09-25 09:11] gsimone commented on #143
We are looking into it, if you can please use 1.5.6 for now 🙏

[2020-09-26 06:34] LukeWood opened #144 "Stars break when temporarily removing from scene"
I've used a few components from Drei and really enjoyed them - so thanks for your hard work!

My issue here is that on https://lukewood.dev when you toggle to day mode, reload the page, then switch to night mode the sky stays white for some reason.  Note sure if this is related to the Star shader code or what.

Thanks for any guidance!

[2020-09-27 21:47] irfanka opened #145 "Server Side Rendering issue with Razzle"
Hi :wave:

I'm using Jared Palmer's wonderful [Razzle](https://github.com/jaredpalmer/razzle)  to do SSR.
However, if try importing anything from `@react-three/drei`, I get the following error when the app is being rendered on the server side:

[code]

Any clues how I can fix this would be greatly appreciated.
So far, I tried setting `"type": "module"` in my "package.json", as well as looking for

[2020-09-28 03:44] devpascoe commented on #143
In same situation. Holding back a release version is a fine solution for now <3

[2020-09-29 09:55] axelboc opened #147 "Tree-shaking not working"
I've been trying to tree-shake ThreeJS in my project, since I have a bundle that weighs 1.7 MB... I've tried using [three-minifier](https://github.com/yushijinhun/three-minifier), as well as creating my own export file as suggested in a [react-three-fiber recipe](https://github.com/pmndrs/react-three-fiber/blob/master/recipes.md#reducing-bundle-size), but neither solution worked.

Then, I tried re

[2020-09-29 15:54] gsimone commented on #147
Would you consider making a PR for this?

[2020-09-29 21:52] johnmarinelli commented on #123
@lojjic indeed it is, sorry for not checking beforehand. i'll close this ticket

[2020-09-29 21:52] #123 closed

[2020-09-30 11:28] axelboc commented on #147
Failed attempt in #148.

Note, however, that with `@react-three/drei@1.5.8`, my bundle now weighs 1.43 MB, so the changes made in the last couple of minor revisions are baring fruit!

[2020-09-30 13:21] gsimone commented on #147
Consider cherry picking components like this

`import { Text } from '@react-three/drei/abstractions/Text'`

I had started work on a babel plugin to do just that but stuff took precedence :(

[2020-09-30 16:49] johnmarinelli commented on #127
I've started work on this here https://github.com/johnmarinelli/drei/tree/dev/issue-127

[2020-10-01 10:09] CS6 commented on #19
+1

[2020-10-01 14:28] gsimone commented on #127
If you open a PR it will deploy the storybook for a preview 👍

[2020-10-01 17:50] jakechv commented on #145
Following; I'm having exactly this same issue with Next.js. I get the same stack trace as well (thought the frameworks-specific logging is different, of course).

I'm using Node.js v13.8.0 and have also tried with Node.js v12.15.0.

[2020-10-02 02:44] lojjic commented on #89
This should be fixed by the dependency update in #150

[2020-10-02 21:30] johnmarinelli commented on #127
@gsimone cool, i've opened a PR here https://github.com/pmndrs/drei/pull/151

[2020-10-03 14:33] #119 closed

[2020-10-03 14:33] #120 closed

[2020-10-03 14:33] #147 closed

[2020-10-03 14:34] gsimone commented on #144
I can't seem to reproduce this, I'll close this for now, please try to make a codesandbox with a repro so we can take a look!

[2020-10-03 14:34] #144 closed

[2020-10-03 21:00] irfanka commented on #145
@jakechv yup, that's partly why I reported the issue here - it's not really specific to Razzle, but instead has to do with SSR rendering in general (I think).

[2020-10-03 21:27] irfanka commented on #145
BTW, my workaround for this issue was to just lazy-load the component which imports stuff from drei, using loadable-components:

[code]

Not sure if this will work with NEXT's build-time SSG / pre-rendering - but it works with regular SSR (and by extension, with Razzle).

[2020-10-04 10:10] ricardomatias opened #154 "[Loader] Typescript complains of missing props when none are passed"
Example usage:
`<Loader />`

leads to:
[code]

Proposed solution: Use `Partial` to make the props optional.

[2020-10-04 11:12] gsimone commented on #154
Mind making a PR?

[2020-10-04 17:08] ricardomatias commented on #154
@gsimone https://github.com/pmndrs/drei/pull/155

[2020-10-07 06:34] MaxmaxmaximusAWS opened #157 "[BUG] TS2339: Property 'nodes' does not exist on type 'GLTF'."
"three": "^0.121.1",
"@react-three/drei": "^2.1.0",

![image](https://user-images.githubusercontent.com/69426460/95295663-2dabc500-0880-11eb-8d61-12ca7944c441.png)

[code]

But `nodes` exists
-

[2020-10-08 13:10] TimvanScherpenzeel opened #158 "detect-gpu moving forwards (2.0.0)"
Hi drei maintainers,

I noticed you are using `DetectGPU` (https://github.com/pmndrs/drei#usedetectgpu) and I would like to inform you that I am planning to release a 2.0.0 version in the near future with the following improvements:

- Improved method of determining the GPU tier based on benchmark FPS (screen dimension normalised)
- Deobfuscation of iOS 12.2+ devices and Safari 14+ browsers
- Impr

[2020-10-13 00:46] jameswesc commented on #145
I ran into the same issue using Next.js . Using their dynamic imports without ssr ([as shown here](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr)) worked for me.

[2020-10-13 03:49] Alex23925 opened #159 "Unexpected token error when importing"
I am trying to import orbit controls but I get this error when importing it
(tried:
import { OrbitControls} from '@react-three/drei';
and
import { OrbitControls} from 'drei'):

[code]

I assume I have to go directly into the library and fix something but I thought id ask here because no tutorials ive seen run into this issue and react-three-fiber as well as three work perfectly fine. Im also using

[2020-10-13 18:17] aVileBroker opened #161 "useDetectGPU props object is required, while not required by detect-gpu package"
In all the examples of the hook, it is used without passing anything into the hook params, which in typescript throws an error, as props is required.

The [typing on detect-gpu](https://github.com/TimvanScherpenzeel/detect-gpu#usage) suggests that all of its params are optional, which makes it seem that `useDetectGPU()` should work, but it still expects something, and an empty object causes it to

[2020-10-13 18:36] aVileBroker commented on #161
https://github.com/pmndrs/drei/pull/162

[2020-10-13 22:22] unphased opened #163 "Curious why the magic number 16777271 (used in Html)?"
0xFFFFFF is 16777215
0x1000000 is 16777216
0x1000001 is 16777217

It seems like the magic number is 0x1000001 with the last 2 decimal digits accidentally transposed?

If so, what would be the significance of 0x1000001 over either of the other two options above?

[2020-10-14 05:35] #159 closed

[2020-10-14 19:31] TimvanScherpenzeel commented on #158
Hi, I've come up with a proposal. The syntax for library use would be the following:

[code]

Alternatively you could encourage end-users of the hook to serve the benchmarks on a public URL (this is the preferred method as it prevents the loading of unnecessary kB's). I'll provide a clear download link in the README.md of the library to download the benchmark data.

[2020-10-14 19:41] TimvanScherpenzeel commented on #161
`detect-gpu@2.0.0` will have strong default values so props can stay optional.

[2020-10-14 19:46] aVileBroker commented on #161
Perfect! As long as the props object itself is set to optional as well we should be good with v1 and v2

[2020-10-15 06:50] gsimone commented on #158
I like this approach, it's similar to what we do with the draco loader, giving users the ability to load their own but defaulting to CDN. Instead of importing the json we could use unpackage like:

[code]

This would better eliminate tree-shaking and bundle size problems, loading the json only when the test is being used. What do you think?

[2020-10-15 07:01] gsimone commented on #161
Closed by #162, thank you @aVileBroker

[2020-10-15 07:01] #161 closed

[2020-10-15 07:36] TimvanScherpenzeel commented on #158
Sounds great! I'll make sure that is supported.

[2020-10-15 14:12] TimvanScherpenzeel commented on #158
@gsimone the final syntax will be as follows, no special handling required!

The library is automatically pointed to `https://unpkg.com/detect-gpu@next/dist/benchmarks` so it can dynamically pick the correct benchmarks (e.g. https://unpkg.com/detect-gpu@next/dist/benchmarks/d-amd.json).

[code]

I'm planning to release the 2.0.0 version as `@latest` in the next few days.

[2020-10-15 14:12] #158 closed

[2020-10-15 23:50] LinuxIsCool opened #164 "useGLTF loader does not work with any glb other than the default suzanne.glb"
When I put in a custom glb of any kind that is exported from blender, I see no object, only a grey screen. I checked the network traffic to make sure that the asset is getting a 200.

It's this story here: https://github.com/pmndrs/drei/blob/master/.storybook/stories/useGLTF.stories.js

Thank you!

[2020-10-16 07:28] gsimone commented on #164
Are you using draco compression when exporting? Because the example suzanne glb does and so the example uses  draco loader

[2020-10-18 12:31] AndrewPrifer commented on #3
Hey all, I just bumped into a related issue and came up with quite a similar hook:
[code]

This hook works similar to the currently included useCubeTexture, but loads hdrs, in equirectangular rendering and uses PMREMGenerator.

The way I see it, what's currently missing is not just different formats but other orthogonal config options as well when loading envmaps.

- format: hdr, exr, png etc.
- r

[2020-10-18 12:46] gsimone commented on #3
I'm all for it, and you seem to know a lot about this, do you want to help out/make a PR/suggest an API?

There's also this component that might be a good place to test these hooks https://github.com/pmndrs/drei/blob/master/src/Environment.tsx

[2020-10-18 14:54] AndrewPrifer commented on #3
@gsimone I looked around and thought about it a bit.

The most flexible implementation would be if we let users provide their own image loader, and determine based on whether `urls` is an array or not, whether the provided map is equirectangular or not. Path is optional in both cases, since even for cube maps it's just convenience.
[code]

The only issue I see with this API is that it would requir

[2020-10-18 23:48] helgardferreira commented on #157
Yes, this is extremely frustrating. Additionally, I've seen several examples use the helper as such:
`js
const { nodes, materials } = useGLTF<GLTFResult>("/model.glb")
`
And yet useGLTF's TypeScript declaration file doesn't support generics...

So far the TypeScript support for this lib has been disappointing to say the least.

[2020-10-19 10:03] johnmarinelli commented on #164
@LinuxIsCool could you link a sample asset to use as a test case?

[2020-10-19 10:06] johnmarinelli commented on #136
sorry, i don't understand the question, what exactly is the issue?  if you want a light source to emulate the sun, you could probably use a DirectionalLight - https://threejs.org/docs/#api/en/lights/DirectionalLight

[2020-10-19 11:10] AndrewPrifer commented on #3
Yet another path we could take, considering how simple it is to create something custom (my hook that works perfectly for my use case is no more than 10 lines), would be to provide one easy to use, best practice, zero config hook, but then we'll have to make some assumptions for what the community as a whole would find the easiest. I'm inclined to say that the easiest way to get your hands on hdr

[2020-10-21 12:00] AndrewPrifer opened #166 "TransformControls unnecessarily requires non-null children"
Currently the following code results in a TypeScript error:
[code]

The type annotations for `TransformControls` assume that it will always be used with non-null `children`. I think there are legitimate cases when transform controls might be used on their own without children, and it wouldn't break the code to remove this requirement.

[2020-10-21 12:11] AndrewPrifer commented on #163
@unphased the max z-index value on Safari 3 was 16777271.

[2020-10-21 15:19] AndrewPrifer opened #167 "API suggestion: export component prop types"
A use case that often comes up is the need to extend existing components, while retaining some or all of their original props. It would be more convenient to do this if the component props were also exported, e.g. for `Sky`, there would also be a `SkyProps` type export.

The workaround is not too hard but requires a bit of TypeScript know-how:

[code]

Compare with:

[code]

[2020-10-21 17:27] giulioz commented on #167
There should be no need:
[code]

[2020-10-21 17:31] giulioz commented on #167
I mean, I would prefer export as least types as possible, especially the ones that can be done with type expressions.

What do you think @stephencorwin ?

[2020-10-21 17:32] AndrewPrifer commented on #167
@giulioz cool, I didn't know that existed, looks even better than my workaround because it handles refs. The reason I suggested is that all components already have a `Prop` type neatly defined above them, exporting them wouldn't be a few additional characters per file.

[2020-10-21 19:25] ming-deng opened #168 "Html jumpy when rotating camera."
Hi,

When we rotate the camera, there is always ONE Html that's jumpy. The other Html are solid in their position relative to their Object.  Can be seen here in the storybook https://drei-storybook.netlify.app/?path=/story/abstractions-html--html-st the "First" Html is jumpy as you rotate the camera with click and drag up/down.

[2020-10-21 22:16] johnmarinelli commented on #89
this is fixed as of drei@2.1.0, this issue can be closed

[2020-10-22 09:47] johnmarinelli opened #169 "React concurrent mode breaks custom <OrbitControls /> properties"
csb: https://9s00o.csb.app/

for some reason, using `concurrent: true` in the `<Canvas />` will make `enableZoom={false}` on `<OrbitControls />` not work.  concurrent mode probably breaks other things too, but this is just one that I found.

[2020-10-22 15:46] drcmda commented on #169
wa-what? :-D

It’s  is defined as:

[code]

i dont quite see how concurrent mode could affect the props being spread over it. would you please copy the orbit-helpers code and use it in your file to track down what it is? also better go to the latest version 5.x.

[2020-10-22 20:03] acolbourn commented on #89
Awesome, thank you!

[2020-10-22 20:03] #89 closed

[2020-10-23 11:21] Vincentjonssonqi opened #170 "Animating Text"
First of all i want to give a big thank you for developing this and react-spring and react-three-fiber. Massive creative unlock! I have been working on building my own portfolio with all these libraries and they have been working pretty much for everything I can throw at it, with the exception of animating text. Here is what I have tried:

[code]
For the code above I get the following typescript e

[2020-10-23 12:14] hmans commented on #169
I'm also seeing strange behavior around MapControls (which, as I understand, is just [OrbitControls with different defaults](https://github.com/mrdoob/three.js/blob/dev/examples/jsm/controls/OrbitControls.js#L1212-L1224).)

I'm using the default panning.

With `concurrent` disabled, panning the camera also moves the control's target, as it should be.

With `concurrent` **enabled**, panning the cam

[2020-10-23 12:41] hmans commented on #169
To make things even more weird, the bug completely disappears when I run the same code [in production mode](https://hmans-sky.netlify.app/).

@johnmarinelli, can you check if this is also the case for you?

[2020-10-23 13:01] hmans commented on #169
I think I've figured it out. It's possible that this only occurs when you create a custom camera on top of the one that <Canvas> will create by default, because this will end up invoking the `useMemo` call twice, without calling `.dispose()` on the controls instance that was created first.

My first attempt at fixing it was removing the `dispose={false}` in the MapControls implementation, but that

[2020-10-23 14:34] johnmarinelli commented on #169
@hmans nice one.  depending on how busy i am this weekend, i can pick up where you left off.  thanks for looking into this, it is indeed a tricky bug

[2020-10-23 17:23] stephencorwin commented on #169
CM is awkward like that for some things. The dev vs prod issue is probably because of react strict mode. I'm not saying that this is necessarily an issue with OrbitControls, but another library that suffers from [CM issues due to this is Apollo and their useSubscription hook.](https://github.com/apollographql/apollo-client/issues/6037#issuecomment-612574632)

Something about Strict Mode parsing th

[2020-10-23 18:01] drcmda commented on #170
const AnimText = a(Text)

this works exactly like react-natives animated. the "a" namespace cannot possibly know about your text component, you can either extend that namespace, there's a method for it, or you create a animatable component like i did above.

[2020-10-23 18:08] stephencorwin commented on #170
You can also place the Text in a group and animate the group if you only need to animate things like position, rotation, scale. It's not a perfect solution, but it is covers a lot of the animation use cases for text.

[2020-10-24 05:30] hmans commented on #169
Still, shouldn't this particular issue be fixed if the instantiated controls get disposed properly?

[2020-10-24 12:06] drcmda commented on #169
i still have no idea what's going on. it doesn't seem to create the controls twice and even if that were the case, i don't see how it would be of any consequence. it also definitively applies "enableZoom: false" - it is written into the object.

[2020-10-24 12:13] drcmda commented on #169
in the update function of Orbitscontrols "scope.enableZoom" is false, in the mouseWheel handler it is true. what is going on, this makes no sense at all ...

[2020-10-24 12:21] drcmda commented on #169
made a r educed repro here if anyone wants to dig in: https://codesandbox.io/s/r3f-contact-shadow-forked-e0stl?file=/src/index.js also copied orbitcontrols into a local file.

[2020-10-24 21:55] drcmda commented on #169
seems like it is complex issue: https://github.com/facebook/react/issues/20090

[2020-10-24 22:01] gaearon commented on #169
To be clear, I don't think this issue is specific to Concurrent Mode. It has the same problem in StrictMode from what I can tell. However, due to an incorrect compilation setup (using production bundles in development), it seems like R3F bundles were always in production mode, so StrictMode had no effect.

Here is a version with Concurrent Mode *off* (but Strict Mode on) that demonstrates the same

[2020-10-25 01:37] gaearon commented on #169
Haven’t yet gotten a confirmation from Paul but I think the correct way to use Controls is through effects rather than through `<primitive />`. Please see a possible solution here. https://github.com/facebook/react/issues/20090#issuecomment-716067410

[2020-10-25 08:21] Vincentjonssonqi commented on #170
@stephencorwin thank you for the tip. I have used this very solution to do transform animations up to this point. If only I could animate the opacity and color of an entire group of objects as well! that would be amazing.

@drcmda I tried to do as you said and voila no typescript errors. I appreciate you helping me fill that knowledge gap. Animating transforms work beautifully but animating the ma

[2020-10-25 14:05] #167 closed

[2020-10-25 22:46] drcmda commented on #169
@johnmarinelli it should be fixed.

[2020-10-25 22:55] #169 closed

[2020-10-26 08:38] AndrewPrifer commented on #166
Closing this because there is a larger problem that TransformControls suffer from which warrants its own issue.

[2020-10-26 08:38] #166 closed

[2020-10-26 09:57] Pomevak opened #171 "TrackballControls prevents click events"
I found that adding `TrackballControls` to the scene prevents click events from happening.

Here is a reproduction: <https://codesandbox.io/s/pedantic-kilby-l4ggk>

[2020-10-28 14:43] gsimone opened #172 "Add new edgesplit and curve modifiers"
New modifiers have been added to three in r122

https://threejs.org/examples/?q=modifie#webgl_modifier_curve

Can be made similar to the other existing hooks such as https://drei.react-spring.io/?path=/story/modifiers-usesimplification--use-simplification-scene-st

https://github.com/pmndrs/drei/blob/master/src/useTessellation.tsx
https://github.com/pmndrs/drei/blob/master/src/useSimplification.ts

[2020-10-29 17:18] FRMR1 opened #173 "WebGL fragment shader error when using custom shader material on text"
I'm trying to use a custom shader material on a text instance and I'm getting a WebGL error on the fragment shader:

[code]
I'm trying to apply the shader from this official [threeJS example](https://github.com/mrdoob/three.js/blob/master/examples/webgl_shader_lava.html) and my vertex and fragment shaders are copied exactly from the example. There's obviously a conflict between the fragment shader

[2020-10-29 20:18] clintharris opened #174 "Using <Html> with <instancedMesh>?"
Hi, is it possible to use `<Html>` with `<instancedMesh>`?

I'd like to use `<Html>` to render an overlay/tooltip over one of thousands of objects. Hopefully there is a way to simply change the position of an `<Html>` "singleton" (i.e., bind it to whatever mesh has been clicked).

Any tips or advice would be greatly appreciated. Thanks!

[2020-10-29 21:02] drcmda commented on #174
no, that will break because every Html is a render root, literally ReactDOM.render(<div>...</div>, domTarget)

[2020-10-29 21:07] clintharris commented on #174
Sorry for the naive question, but how does one re-set the position of a DOM element to an `Object3D` instance?

Any pointers to existing examples would be really appreciated. Thank you!

[2020-10-29 22:32] clintharris commented on #174
There's probably a better solution, but in case it's helpful to someone else, here's the gist of what works for me:
[code]

[2020-10-29 22:32] #174 closed

[2020-10-31 20:08] ikteru opened #175 "Why is there no dragcontrols helper ?"
You've got all kinds of controls, except for the most important one (kidding) :p . I would love to have one for DragControls as well.

[2020-10-31 22:14] drcmda commented on #175
make one, add the pr. all these helpers were made as we or someone needed them. :-)

[2020-11-04 08:24] Pomevak commented on #171
I was able to resolve this problem by importing `Trackball Controls` from `"three/examples/jsm/controls/experimental/CameraControls"` instead of "three/examples/jsm/controls/TrackballControls". Moreover, it is compatible with the `invalidateFrameLoop` flag as it manages updates internally like `OrbitControls`. See this PR  [#18483](https://github.com/mrdoob/three.js/pull/18483) of three.js.
Still

[2020-11-04 08:24] #171 closed

[2020-11-11 13:55] james5968 commented on #19
+1

[2020-11-11 14:09] drcmda commented on #19
Text is a dom component. It uses divs and dom api. Someone would need to dig in to make it cross compatible. it's not much code, someone that knows RN could probably do it under an hour.

as for orbitcontrols @thomasjgrady none of three's controls run in RN. expo has its own ports. same issue, threes controls depend on web api.

[2020-11-11 15:54] lojjic commented on #19
Troika-three-text and its dependencies don't use the DOM at all, much less `react-dom` specifically which is the source of the error in the above stacktrace.

That said, if this error happens simply by importing Text, then it's clear there's something going on that's making it try to import `react-dom` when it shouldn't. I'm happy to dig in and see if I can figure it out, but like I said in https:

[2020-11-11 16:15] Code47X opened #176 "Loading multiple textures with useTexture"
I'm using the useTexture hook to load in a collection of textures. Currently I've been loading each texture individually like so, which seems to work fine:

[code]
I've checked out the useTexture examples, and TypeScript shows it can **return** an array of textures, but I'm not quite following the syntax. It seems like useTexture will only accept a single string as an argument. TS won't accept an

[2020-11-11 16:30] drcmda commented on #176
yes it should work like that. useLoader does for sure. could you look into it and fix it? maybe the types are off.

[2020-11-11 16:31] drcmda commented on #19
honestly scratching my head, what the hell could cause it? 😀

[code]

[2020-11-11 16:55] Code47X commented on #176
Checked it out, and I believe the typing is slightly off. It looks like the conditional type would always evaluate to string. I can throw up a quick PR if this is an acceptable fix.

Current:
`useTexture(url: string extends any[] ? string[] : string): Texture | Texture[];`

Fixed for me:
`useTexture(url: string | string[]): Texture | Texture[];`

[2020-11-12 00:11] snsie opened #178 "Alternative PointerLockControls implementation"
I modified the PointerLockControls sandbox [**here**](https://codesandbox.io/s/pointerlock-nophysics-reticlefocuswhenlock-x36rl?file=/src/App.js). The code is messy, but some people may find the listed changes useful.

1. Three's original PointerLockControls' `moveForward` and `moveRight` movement methods are used, which orients movement and binds players to the ground without the need for the can

[2020-11-12 08:39] anuragsr opened #179 "<Html> with <OrthographicCamera> disappears at certain orientations"
I am using the `OrthographicCamera` with `Html` from `@react-three/drei`
With this combination, the html `.content` divs seem to disappear intermittently.

I'm using `OrthographicCamera` with `Html` in a client project and faced this issue there first, so I forked the basic `Html` example and simply added an `OrthographicCamera` to the scene. The issue is seen there too. What could be the cause an

[2020-11-12 08:54] giulioz commented on #179
That's because `display:none` is added if the object is behind the camera. If you look at the Html component implementation you'll see that it's using the camera position:
https://github.com/pmndrs/drei/blob/418a9ac0491e72cbfa1076cdd8d4ad483d216f66/src/Html.tsx#L21

In your example you have objects rendering behind the camera (since you have a negative near plane). To fix this you need to move the

[2020-11-12 09:13] anuragsr commented on #179
Ah thank you! Knew it was something related to camera pos..closing this.

[2020-11-12 09:13] #179 closed

[2020-11-13 12:30] Sharlaan opened #180 "Multiple materials with RoundedBox"
Hello and amazing job with this lib drei !

I want to display a Dice with colored faces (and another with dotted faces), so multiple materials.

I discovered your nice RoundedBox component and tried to apply an array of materials but does not work :
[code]
i'm getting this :
![image](https://user-images.githubusercontent.com/2692027/99072362-2a5cd500-25b4-11eb-9e82-c9e23c917f97.png)

looks like my

[2020-11-13 14:14] gsimone commented on #180
This goes a little bit over my knowledge of three, but material arrays are handled using geometry groups, which have to be created when constructing the geometry:

https://github.com/mrdoob/three.js/blob/master/src/geometries/BoxBufferGeometry.js try searching in the code for "group" and you'll see what I'm talking about.

I don't think rounded box, with our implementation, can support this, since

[2020-11-13 16:24] Sharlaan commented on #180
Ok thanks, guess i'll stick to boxGeom :/

[2020-11-13 16:56] #180 closed

[2020-11-13 21:45] snsie commented on #178
I organized the sandbox and added an overlay to inform users of the space bar locking mechanism. Any feedback that could improve performance and/or address potential issues would be much appreciated.

[2020-11-13 22:38] stephencorwin commented on #178
@gsimone I think something like this could be pretty cool. From the demo he gave the other day, it looks like it has some interesting use cases. Could you take a look when you get a chance?

[2020-11-17 11:34] jugglingcats opened #181 "Adding points in Line"
Hi, firstly thanks for the project!

I am trying to draw a line with width where the path changes based on state. The number of points to be drawn can increase or decrease as state changes.

It seems that the geometry in `Line` is not updated when the number of points change. I realise this might be related to the way three works and might be desirable from a performance perspective, but if I use

[2020-11-17 15:01] jugglingcats commented on #181
I created a workaround by copying the code in https://github.com/pmndrs/drei/blob/master/src/Line.tsx. Basically creating a new geometry when the points change.

My modified version looks like this (I stripped out some of the params we don't need):
[code]

And in codesandbox... https://codesandbox.io/s/r3f-line-adding-points-workaround-11g9h?file=/src/index.js:1372-2184

In the codesandbox demo th

[2020-11-19 18:11] theoter commented on #19
Having the same issue.

[2020-11-19 21:39] theoter opened #182 "TypeError: element.setAttribute is not a function."
Hello drei-sters,

I have been struggling with drei a lot when it comes to trying to make it run on device (Android / Expo). Running it on web-browser works but device always returns the Exception error:

`TypeError: element.setAttribute is not a function. (In 'element.setAttribute(eventName, 'return;')', 'element.setAttribute' is undefined)`
This refers to line 321 of \node_modules\metro\src\lib\

[2020-11-20 19:05] JustFly1984 opened #183 "typesctipt errors `import React from 'react'` related to `esModuleInterop` being enabled."
Please disable `esModuleInterop` in tsconfig.json and replace ```import React from 'react'``` with ```import * as React from 'react'``` in all components.

[2020-11-20 19:21] gsimone commented on #183
Can you document the issue and PR the change?

[2020-11-20 21:27] JustFly1984 commented on #183
created PR https://github.com/pmndrs/drei/pull/184

Issue was reproducing only in projects with esModuleInterop: false.
Current fixed imports are working for both states of esModuleInterop.

Also fixed some rendering issues and improved performance.

[2020-11-23 14:05] theoter commented on #182
Sorry to bump but does anyone have a clue what might cause this?

[2020-11-25 08:47] skuteli commented on #19
This is due to `react-dom` problem, just evaluating it in RN causes error, to be exact it's this function being called directly:
https://github.com/facebook/react/blob/master/packages/react-dom/src/events/isEventSupported.js

Because `drei` imports it for `<HTML>` and for `<Loader>` via `@react-spring/web`, the package is evaluated and crashes RN app :/
What I do is I just copy the components I ne

[2020-11-26 21:04] Luigi600 opened #186 "OrbitControls Key Control Doesn't Work"
## Description

It is not possible to handle the OrbitControls component with keys.

## Expected Behavior

I can use my arrow keys to control the camera as the example in the readme.

## Environment
[code]

## Minimal Example / Reproducion / Sandbox

[CodeSandbox](https://codesandbox.io/s/react-three-orbit-controls-keys-w7ddo)

## Background

I have updated the dependencies of a project. I replace

[2020-12-01 15:18] #143 closed

[2020-12-02 11:23] joshuaellis commented on #186
Hi @Luigi600 I actually think this is an issue wth `three`. The key controls work on version 0.122.

I've done some digging to confirm this and raised an issue in the three repo https://github.com/mrdoob/three.js/issues/20805

[2020-12-02 17:38] joshuaellis commented on #172
Happy to look at this 👍🏼

[2020-12-02 19:06] gsimone commented on #172
Awesome, dm me on twitter/discord or email or whatever if you need support

[2020-12-02 21:51] joshuaellis commented on #172
So the `CurveModifier` is a class called `Flow` or `InstancedFlow` it doesn't have modify function, it looks like you have to add the class to the scene – [example](https://github.com/mrdoob/three.js/blob/master/examples/webgl_modifier_curve.html). Because of this, I'm wondering if it wants to be a component like `Box` where the child component is the mesh you want to travel.

But im unfamiliar wi

[2020-12-03 09:31] gsimone commented on #172
So, a bunch of thoughts:

Our component should accept:
- a mesh that will be curved
- a curve

Will return:
- the flow instance accessible via ref

The mesh is not added to the scene, instead it's done later via flow.object3D
https://github.com/mrdoob/three.js/blob/master/examples/webgl_modifier_curve.html#L127

Updating the curve should result in an update to the curved object
https://github.com/

[2020-12-03 09:59] joshuaellis commented on #172
My initial thought was something like this
[code]

I imagine this would work with `InstancedFlow` too?

Since this component requires 2 "elements" (the curve & mesh) we could however do a similar approach to how mesh works where you can pass two children, and it understands how to handle the geometry and material, but I don't know enough to know if that's feasible.

[2020-12-04 05:04] nathansearles opened #189 "useGLTF with Draco: TypeError: WebAssembly.instantiate() - with fix"
Started seeing the following errors today. After some digging it looks like it's related to [this issue](https://github.com/google/draco/issues/653) with the Draco decoders.

[code]

[code]

**Quick fix**

Thankfully we can point to other decoders. Doing the following resolved the issue.

[code]

Another options is to use decoder version "https://www.gstatic.com/draco/versioned/decoders/1.3.6/".

[2020-12-04 10:30] deanssmart commented on #189
I have had this exact issue... my site was working the other day and then it kept just throwing up the WebAssembly.instantiate() error. Thanks for the fix it has worked for me

` const { scene } = useLoader(GLTFLoader, "scene.gltf", draco("https://www.gstatic.com/draco/versioned/decoders/1.4.0/"));`

[2020-12-05 01:41] stefan-miljakovic opened #190 "shaderMaterial uniforms are shared between instances"
#### Bug descriptions

Shader materials have shared uniforms during initial render.

#### Steps to reproduce

1. Create a component which uses an object as a uniform (could be Vector3 / Color as example given).
2. All instances will then have same reference to the object, instead of separate

#### Demonstration

https://codesandbox.io/s/relaxed-bardeen-1lce4

[2020-12-05 02:32] mattrossman opened #191 "Html messes with useFrame's mouse values"
See this sandbox:
https://codesandbox.io/s/drei-html-mouse-bug-27qb7?file=/src/App.js

Hovering over the text causes the mouse values to jump down to around -0.9. This can be avoided by styling the component with `pointer-events: none`, but still this seems like incorrect behavior.

[2020-12-06 11:15] bartlomiej-krakowski commented on #157
Extend the base interface like this:
[code]

[2020-12-06 12:47] drcmda commented on #157
gltfjsx has a types option, it generates a proper interface for all contents. nodes, materials is not part of threejs, this is r3f. but since useLoader can handle any arbitrary loader it cant give you types, they must be added like in the example above

[2020-12-06 12:47] #157 closed

[2020-12-07 13:58] suhdonghwi opened #193 "OrbitControls prevent onClick events from triggering in mobile"
When I use `<OrbitControls/>`, `onClick` events does not trigger in mobile devices. (In PC env it works just fine)

`onPointerDown`, `onPointerUp`, these events trigger. Only `onClick` has a problem.

[2020-12-08 10:09] joshuaellis commented on #172
Hi @gsimone any thoughts on the above implimentation suggestion?

[2020-12-08 16:40] gsimone commented on #172
I'll be honest, I'm not sure what the best way would be, it might be worth making a prototype on codesandbox and see how we like the API. Generally, you need to make sure you don't do any unnecessary computation on re-renders (which are rare, but it's better if they are free), the rest is up to interpretation and personal preference, imo

[2020-12-08 19:43] alex-shortt commented on #189
It's been spotty for a while but recently it seems like the cdn began working again, can anyone else confirm this?

[2020-12-08 19:55] nathansearles commented on #189
The Draco decoder URL (https://www.gstatic.com/draco/v1/decoders/) that Drei uses appears to be working again.

You can test it by going to: https://www.gstatic.com/draco/v1/decoders/draco_decoder.js

For now I'd still use:

[code]

[2020-12-08 19:55] #189 closed

[2020-12-08 23:28] joshuaellis commented on #172
here's a codesandbox with my proposal, I think there's probably some room for improvement. I imagine the Types could be written better & I think theres a small type error to be amended. Be great to hear your feedback.

https://codesandbox.io/s/react-threedrei-flow-proposal-wxzqx?file=/src/Flow.tsx:366-374

[2020-12-09 01:08] AndrewPrifer commented on #172
@joshuaellis I like the API! There are two implementation issues I can see at a glance: whenever you are setting a forwarded ref imperatively, you should be using `useImperativeRef`, and the object should change when I rerender the Flow component with different children.

[2020-12-09 09:17] joshuaellis commented on #172
Hi @AndrewPrifer I'll look into `extend` before looking at changing to use `useImperativeHandle`. Cheers for that 👍🏼

[2020-12-09 16:01] ikteru opened #197 "DragControls feature proposition"
Is it possible to create a DragControls component that has event listeners as props the same way a mesh does in React-Three-Fiver:
[code]
Except, instead of being able to pass a callback to events like **onClick**, we pass them to the **DragControls** triggered events:
[code]
So, it becomes something like:
[code]

[2020-12-11 12:44] joshuaellis commented on #172
Hey @AndrewPrifer I've been looking at the `extend` route. `Flow` needs a mesh as part of the constructor, I thought I could do something like this to pass that –
[code]
But that doesn't seem to work although i'm not experience with r3f `extend`. Do you have a suggestion on how to pass this child as a mesh to the constructor?
I've also updated the above sandbox to include re-setup on child change

[2020-12-11 17:32] AndrewPrifer commented on #172
@joshuaellis nice work! I don't have much time right now but I quickly looked at Flow's implementation and indeed it seems you need to pass the object in the constructor, there's no other way. Unfortunately it isn't possible to attach React elements to constructor arguments (yet, @gsimone I think this would be awesome), so your initial useEffect solution was 👌.

[2020-12-11 17:42] gsimone commented on #197
Could you make a sandbox of this proposal? I'm not sure I understand your intent

[2020-12-11 17:46] gsimone commented on #172
Attaching elements to constructor arguments would be awesome, not sure if we would ever be able to, since there's a timing issue - the elements are created before their children

We should discuss this in an r3f issue though, could be interesting

[2020-12-11 17:50] AndrewPrifer commented on #172
Yeah I imagine especially with concurrent mode this is probably a hard no.

[2020-12-11 18:13] joshuaellis commented on #172
Thanks @AndrewPrifer I'll submit a PR with the necessary updates following the useEffect flow 💃🏼

[2020-12-15 20:41] arpu opened #201 "use without react-three-fiber"
Hey,

would it be possible to use drei without react-three-fiber ?

iike with theejs only or aframe Environment?

[2020-12-16 08:55] drcmda commented on #201
some things you can use, like meshBounds, but neither three nor aframe have real components and that eliminates the rest. three has none at all, it isn't even aware of lifecycles, mount/unmount phases, and aframe only has directives - web components are pretty inept when it comes to integration and the consensus is that you use them for small self-contains bits of code/ui. drei components are awar

[2020-12-16 09:00] drcmda commented on #193
i think this is a bug in threejs. they call preventDefault maybe it's that. we have no control over orbitcontrols - drei just spares you the long import and the useFrame(() => control.update()) method.

[2020-12-16 09:08] drcmda commented on #190
looks like its the uniforms. it's the only part that i can see that could touched by both instances.

[2020-12-16 10:06] arpu commented on #201
thx for the information @drcmda

I look how i can do use react-three.fiber in long run, would be nice i could use some aframe components like the networked-aframe  and drei/react-three-fiber at same time

[2020-12-16 10:06] arpu commented on #201
for now i think this can be closed

[2020-12-16 10:06] #201 closed

[2020-12-17 18:08] ikteru commented on #197
I just want to use DragControls with React Three Fiber in a streamlined way. The suggestion above is one example. An other would some kind of hook like how it's done in React UseGesture. I want to be able to somehow exploit the events that DragControls dispatches. React UseGesture for example give you access to event using useDrag or useHover. That's a great of doing it for example.

[2020-12-17 23:30] mattrossman opened #202 "Environment map presets"
Environment maps are a requirement for metallic materials to render properly, so it would be helpful to have a way to quickly pull in a basic environment map without manually downloading a bunch of files and setting up paths.

How would you feel about including a set of three.js example cube textures as presets for the environment component? So we could simply say:
[code]
Here's an example sandbox

[2020-12-17 23:48] gsimone commented on #202
We do have something similar with `useNormalTexture` and `useMatcapTexture`, so a PR for this would be more than welcome!

[2020-12-18 00:45] drcmda commented on #202
it would be awesome. but can it even be made safely? the cdn says

    Package size exceeded the configured limit of 50 MB. Try https://github.com/mrdoob/three.js/tree/r123/examples/textures/cube/ instead.

[2020-12-18 00:57] mattrossman commented on #202
@drcmda I'm not seeing that from the sandbox on my end, are you trying to access [the entire cube texture directory](https://cdn.jsdelivr.net/gh/mrdoob/three.js@r123/examples/textures/cube/)? In the example above each texture is accessed individually.

I'm interpreting that message to mean that any individual file can't exceed 50 MB. The cube textures are far from that (highest I saw was ~500 KB).

[2020-12-18 00:58] drcmda commented on #202
this url: https://cdn.jsdelivr.net/gh/mrdoob/three.js@r123/examples/textures/cube/

[2020-12-18 01:00] drcmda commented on #202
make the pr if jsdelivery is good to go!

[2020-12-18 10:58] gsimone opened #204 "[internal] Setup codesandbox integration"
Take a look at valtio & jotai

https://github.com/pmndrs/valtio/tree/master/.codesandbox
https://github.com/pmndrs/jotai/blob/master/.codesandbox/ci.json

[2020-12-18 14:41] gsimone opened #205 "[component idea] Curve Editor"
Inspired by this tweet by @AndrewPrifer https://twitter.com/AndrewPrifer/status/1339941921788194817

We could wrap the Curve editing functionality with a component that exposes props for
- number of handles & initial positions
- editing status (is being edited, is showing handles, is showing curve)
- callbacks on state change?

[2020-12-18 21:42] romarybintsev opened #206 "ContactShadows doesn't work"
Unable to get ContactShadow to work in any way. Even the official documentation seems to not be working ([https://drei.react-spring.io/?path=/story/shaders-contactshadows--contact-shadow-st](https://drei.react-spring.io/?path=/story/shaders-contactshadows--contact-shadow-st)). Would love to get some help, thanks

[2020-12-18 21:54] drcmda commented on #206
they work, but the must face the direction of the model and they're quite specific when it comes to how far their camera reaches: https://codesandbox.io/s/floating-shoe-mz11v

[2020-12-18 22:09] romarybintsev commented on #206
Thanks for the provided sandbox. I'll try to reproduce the results on my end. I still think that the official example should be made clearer though since it doesn't look like anything is happening at all.

[2020-12-18 22:35] drcmda commented on #206
if you find a better way to describe it after you have adapted it to your usecase we'd be glad if you could put that into a pr. the thing is hard to control, it's kind of the point: the far prop controls how far it can "see", so that shadows disappear when the target is not in proximity. that usually takes some fiddling to get right.

[2020-12-20 00:06] romarybintsev commented on #206
I got it working, thanks for the help. On a separate note, I'm working with sprites and noticed that they were hidden behind the "transparent" plane of <ContactShadows />. To fix it I had to add `depthTest: false`  to the [meshBasicMaterial](https://github.com/pmndrs/drei/blob/0f9fd9e05b23c348bf72af7c4698fe8ce00bb100/src/ContactShadows.tsx#L84). I thought maybe it would be good to either add it or

[2020-12-22 04:06] coopbri commented on #145
Thanks @jameswesc, that worked for me too.

It's a bit messy in my case, since the way my component hierarchy is laid out, the `drei` imports I'm using are directly in a Next.js page/route. I'm sure this will get cleaner in the future, three.js and its extension libraries are a bit dicey with SSR right now!

[2020-12-22 10:55] gsimone commented on #145
This is also the solution we propose in the official next.js example https://github.com/vercel/next.js/blob/canary/examples/with-three-js/next.config.js

[2020-12-26 15:05] johnmarinelli commented on #191
i tried reproducing this bug locally (see here https://github.com/johnmarinelli/drei/tree/dev/issue-191), but i received the correct mouse coordinates.  here's a gif of what i got: https://gifyu.com/image/Cg5N

[2020-12-26 20:58] mattrossman commented on #191
Weird, I guess the added layer of Storybook adds some complexity to debugging this. I tried updating the sandbox to the latest drei release but still see the issue.

[2020-12-26 21:20] #202 closed

[2020-12-26 21:21] #127 closed

[2020-12-26 21:24] #206 closed

[2020-12-26 21:26] #83 closed

[2020-12-26 21:27] #88 closed

[2020-12-26 21:27] #94 closed

[2020-12-26 21:28] gsimone commented on #126
@robksawyer is this still current? Can't verify in the sandbox. Please let me know so I can reopen

[2020-12-26 21:28] #126 closed

[2020-12-26 21:28] #145 closed

[2020-12-26 21:29] gsimone commented on #164
Closed since inactive

[2020-12-26 21:29] #164 closed

[2020-12-26 21:31] gsimone commented on #168
This doesn't seem to be an issue anymore, please reopen if needed

[2020-12-26 21:31] #168 closed

[2020-12-26 21:32] gsimone commented on #175
Duplicate of #197

[2020-12-26 21:32] #175 closed

[2020-12-26 21:55] johnmarinelli commented on #191
@mattrossman thx, i'll take another look

[2020-12-26 22:35] gsimone commented on #114
Could you verify if this is still the case now that we have better tree-shaking? Unused modules shouldn't be bundled anymore, meaning effects shouldn't run. Closing the issue, let me know if there's any findings and I'll reopen.

[2020-12-26 22:35] #114 closed

[2020-12-27 00:54] mattrossman commented on #181
Were you going to make a PR for this?

[2020-12-28 02:06] nestorchura2019 opened #210 "How can obtain the value of getPolarAngle () in the orbitControls?"
When we use the orbitControls component we can assign (set) various properties of the OrbitControls
 `<OrbitControls autoRotate autoRotateSpeed ={5} target={[1,4,1]}/>`
but how can I call the methods like **.getPolarAngle () .getAzimuthalAngle () .update ()**

[2020-12-28 08:58] gsimone opened #211 "Add LUT presets"
Much like environments and matcap textures, add an easy way to get LUTs for quick prototyping

LUT Example for three.js  https://threejs.org/examples/?q=lut#webgl_postprocessing_3dlut

1. Download three's example LUTs
2. Rehost them on github ( you can use PR this repository https://github.com/mattrossman/drei-assets )

[2020-12-28 09:03] drcmda commented on #210
if you want to obtain a reference to any object in r3f (or react in general) then you use useRef.

[2020-12-28 21:05] nestorchura2019 commented on #210
thanks I will try

[2021-01-04 09:25] joshuaellis commented on #172
@gsimone should this be closed now?

[2021-01-04 09:33] gsimone commented on #172
Yes, I forgetti!
![image](https://user-images.githubusercontent.com/1862172/103520954-47a57580-4e78-11eb-8bdf-5d5083b7f2f7.png)

[2021-01-04 09:33] #172 closed

[2021-01-05 01:03] FajarTheGGman opened #212 "import drei error on React Native please fix this bug"
While i import OrbitControls like : "import { OrbitControls } from 'drei' " i getting this error : TypeError: element.setAttribute is not a function. (In 'element.setAttribute(eventName, 'return;')', 'element.setAttribute' is undefined)

[2021-01-06 00:06] jbixon13 commented on #211
are you saying the PR should be opened on [mattrossman/drei-assets](https://github.com/mattrossman/drei-assets) instead of drei? Or to copy that repo in a PR here?

[2021-01-06 17:02] drcmda commented on #211
i think poimandres should host all these assets

[2021-01-06 17:09] gsimone commented on #211
@drcmda Eventually yes, we should make a repo with all the prototyping assets and transfer matt's one to pmdnrs
@jbixon13 no, the actual LUT files should live in something like matt's repository, the code to load and select them is in drei - much like useNormalTexture, useMatcapTexture and Environment

We are not putting all these assets in drei to avoid bloating the repo

[2021-01-06 18:50] servinlp opened #215 "(Next.js) Router + (Drei's) <Html> error"
When trying to add either a `<Link>` tag or an element that onClick triggers a `router.push()` inside a `<Html>` tag both error with the following.
[code]
A simple example of the code used is this:
[code]
Here is a simple repo that reproduces the error: [Repo](https://github.com/servinlp/next.js-drie-html-error)

The interesting thing that i found is that if you put this piece of code directly bel

[2021-01-06 21:15] #210 closed

[2021-01-06 21:16] #204 closed

[2021-01-06 22:20] nestorchura2019 commented on #210
Works, thanks.

[2021-01-07 22:13] j6k4m8 opened #218 "Setting request headers on a Loader?"
I'm trying to set request headers on a texture loaded with a TextureLoader. My understanding is that  I can use `useLoader` and pass a class of loader to use, but I'm not sure if there's a way to call the underlying `setRequestHeader` function on the Loader object.

Is this exposed to the user, or will I need to do some digging in the original THREE code?

My ideal is the following:

[code]

What

[2021-01-08 07:39] Pomevak commented on #215
I think it's because R3F is a different renderer, currently it does not share contexts with the default react renderer,  as is explained [here](https://github.com/servinlp/next.js-drie-html-error.git).

However, `next/router` has exported a singleton router. So you may do something like this to make it work

[code]

[2021-01-08 07:52] Pomevak commented on #218
Yes, you can use [useLoader](https://github.com/pmndrs/react-three-fiber/blob/master/markdown/api.md#useloader) instead. You can pass a callback to the third parameter to configure the loader.

[2021-01-08 08:08] SiegeSailor opened #219 "Type for useTexture"
The following snippet is from [@react-three/drei#useTexture](https://www.npmjs.com/package/@react-three/drei#usetexture).

[code]

According to the NPM document, `useTexture` accepts two kinds of input, which is `string | string[]`. However, on version `2.2.15`, the type for `useTexture` is `useTexture(url: string): Texture | Texture[]`, which is causing a constraint of inputting `string[]` and ou

[2021-01-08 08:19] servinlp commented on #215
Thanks that works. Closing issue.

[2021-01-08 08:19] #215 closed

[2021-01-08 10:02] joshuaellis opened #220 "[Idea] Stories should be written in TS"
I just saw #219 and realised if the stories were written in TS then this issue probably wouldn't have happened. I'm happy to work on this if you want to make the move, it's a bit of a chore, but in the long run it'd probably be useful (especially when making new components).

[2021-01-08 12:07] gsimone commented on #220
Absolutely, it's a lot of work, but if you or somebody can start, I'll be glad to help

[2021-01-08 12:07] gsimone commented on #220
Also kinda related, stories right now import from the component, ideally they should import from src/index to give us an early error if we forgetti spaghetti exports

[2021-01-08 12:14] gsimone commented on #219
Could you make a PR?

[2021-01-08 12:24] joshuaellis commented on #220
Yes good point, might as well do that here too.

On the subject of exports, is it worth sorting out the export pattern because people keep having issues with `react-native`
* #212
* #182
* #19

I thought you could potentially have `@react-three/drei/native` and not include `Html`, maybe make a native `Loader`. I can make a new issue if you prefer.

[2021-01-08 12:26] gsimone commented on #220
yeah, do open an issue for that, making an ad-hoc export for native makes sense, let's see what others suggest

[2021-01-08 12:36] joshuaellis opened #221 "react-native exports causing crashes because of internal imports"
## What
There are currently three issues relating to imports in `react-native`
* #212
* #182
* #19

## Why
This [comment](https://github.com/pmndrs/drei/issues/19#issuecomment-733558823) highlights the issue – `Html` and `Loader` components because they use either `react-dom` or `react-spring/web`.

## Solution (potential)
Have an ad-hoc exporter for native, kind of like `react-spring` where `Html

[2021-01-08 14:29] j6k4m8 commented on #218
Got it, thank you @Pomevak! I've updated to this:

[code]

But it doesn't appear that requests are being set: The network request does indeed take place, but without headers. Do you have any thoughts as to why this might be?

I also realize that this might be a better issue for the r3f repo; please let me know if you'd like me to move it :)

[2021-01-08 15:04] gsimone commented on #221
Communication is important here, we'll have to clearly communicates packages that are either exclusive to web or exclusive to native, and possibly provide specific versions.

As to how, the dedicated export makes sense to me, so that native users could safely import anything from that

[code]

[2021-01-09 12:41] Code47X commented on #219
I also ran into this problem #176. I did a little digging and I think the current typing for url argument is always evaluating to a non array value. There is probably a more elegant TS solution out there, but this fixed it for me locally:

Current:
`useTexture(url: string extends any[] ? string[] : string): Texture | Texture[];`

Fixed for me:
`useTexture<T extends string | string[]>(url: T): Text

[2021-01-09 19:02] gsimone opened #224 "[change] DistortMaterial and DeformMaterial should be able to be constructed from any material"
Right now they are hardcoded, we need to think of a better way.

This could be done via props, kinda like args?

[code]

[code]

@drcmda what do you think?

[2021-01-11 03:36] nestorchura2019 opened #225 "{progress} = Useprogress() Don't update the value of progress, always 0%, codesandbox example"
When I try to implement the usePorgress, the load number is not updated, it always stays at zero%, until the complete model is loaded, using Supense.

You can see the error if you use chrome dev tools with the network in 3G mode

codesandbox example
https://codesandbox.io/s/floating-shoe-with-loading-ui-4bs7l?file=/src/App.js:4876-5021
https://4bs7l.csb.app/
![image](https://user-images.githubuser

[2021-01-11 03:49] nestorchura2019 commented on #225
i think the {progress} of useProgress(), dont have get the percentage to show

[2021-01-11 04:16] nestorchura2019 commented on #225
`function Loader() {
  const { active, progress, errors, item, loaded, total } = useProgress()
  return <Html center>{progress} % loaded</Html>
}`

`<Suspense fallback={<Loader />}>
          <Shoe />
 </Suspense>`

[2021-01-11 04:57] RenaudRohlinger commented on #225
@nestorchura2019 On your sandbox you were using two different imports of drei and @react-three/drei, you should just use @react-three/drei, example updated :
https://codesandbox.io/s/floating-shoe-with-loading-ui-forked-1pyed?file=/src/App.js

Also, I don't think the loading takes into consideration the download progress of xhr files such as hdr in some case so it might just from 0 to 75/80% in th

[2021-01-11 05:01] nestorchura2019 commented on #225
Yes because in the drei examples in codesandbox I see that they use drei and react-three / drei

[2021-01-11 05:03] nestorchura2019 commented on #225
@RenaudRohlinger thanks looks good.
Ill check in the morning.

[2021-01-11 11:00] marcofugaro opened #226 "Contact shadows example is broken"
Contact shadow example on storybook doesn't work. I am seeing no shadows.

https://drei.react-spring.io/?path=/story/shaders-contactshadows--contact-shadow-st

Tested on Chrome for macOS.

### Screenshot
<img width="739" alt="Screenshot 2021-01-10 at 22 17 10" src="https://user-images.githubusercontent.com/7217420/104172232-3a523300-5404-11eb-9520-b299981bca04.png">

[2021-01-11 13:13] nestorchura2019 commented on #225
I tested with another glb model that had texture and the same, it only shows from 70% onwards.
from 0% jumps directly to 70%

Is there another way to make it more precise?

[2021-01-11 16:23] joshuaellis commented on #226
This has been fixed in #223

[2021-01-11 16:49] joshuaellis commented on #176
@drcmda when using `useLoader` I get the following error:
[code]

For this code:
[code]

Using @Code47X's TS example in `useTexture` get's the same error.

[2021-01-11 17:01] Code47X commented on #176
@joshuaellis Not sure if this helps you at all, but when I was messing with source code for `useLoader` I had to pass in a generic `useLoader<Texture[]>(TextureLoader, [t1.png, t2.png])` in order to make it work with multiple textures.

[2021-01-11 17:04] joshuaellis commented on #176
Kind of helps me, I was under the impression the Types were implied through the generics, hopefully @drcmda can offer some insight.

[2021-01-11 17:44] Code47X commented on #176
I was also under the assumption that the types were implied initially. Checking out the source, it seems the return type and the input type check if the generic extends an array. It looks like when `useLoader` is called without a generic it defaults to a non-array input and LoaderResult.  Is it designed this way on purpose, or is this a bug?

[code]

[code]

[2021-01-11 17:51] joshuaellis commented on #219
duplicate of #176 which now has a moving discussion, personally, i'd track it there.

[2021-01-11 17:52] joshuaellis commented on #154
Should this be closed?

[2021-01-11 18:01] #154 closed

[2021-01-11 19:40] s3ththompson opened #227 "Expose method to turn on morph targets with Contact Shadows"
In order for Contact Shadows to work with a mesh that uses morph targets, I have to vendor the Contact Shadows source code and manually set `morphTargets` to `true` on the `THREE.MeshDepthMaterial` instance.

Is there a better way to handle this? Should this be a property on the `ContactShadows` component?

[2021-01-11 20:08] joshuaellis commented on #227
Firstly, i'd love to see this in action to understand it more if you have one to share? Or maybe can share one?

Editting the API could be an option, it'd be good to understand how far we need to take it i.e just adding a singleBoolean such as `morphTargets` or would it be more useful but not complicated to add an object to be passed to `MeshDepthMaterial` constructor.

If you have an idea for the

[2021-01-11 20:10] joshuaellis commented on #224
Could it be a HOC wrapper for materials?

[code]

[2021-01-11 20:46] joshuaellis commented on #176
The solution will be:

[code]

assuming https://github.com/pmndrs/react-three-fiber/pull/917 is approved. Could change depending on that PR.

[2021-01-12 09:11] #219 closed

[2021-01-12 09:17] joshuaellis commented on #218
I think this should be moved to react-three-fiber. Especially as this repo does not manage the `useLoader` function, so i'm going to close this. However looking at the function, we just pass the loader, so it might be a problem with `THREE.TextureLoader`. So you may end up having to post on `three.js`.

[2021-01-12 09:17] #218 closed

[2021-01-12 09:23] joshuaellis commented on #193
@suhdonghwi i'm going to close this as I agree with @drcmda, if you need more support we can reopen this.

[2021-01-12 09:23] #193 closed

[2021-01-12 09:24] joshuaellis commented on #186
As this is a `three.js` issue, i'm going to close it as we cannot fix it. You can track the fix on the above link.

[2021-01-12 09:24] #186 closed

[2021-01-12 09:25] joshuaellis commented on #183
Fixed in #198

[2021-01-12 09:25] #183 closed

[2021-01-12 09:42] joshuaellis commented on #170
@Vincentjonssonqi I'm going to close this, if you need more help we can reopen it 🚀

[2021-01-12 09:42] #170 closed

[2021-01-12 09:43] joshuaellis commented on #163
This doesn't seem to require any help so I'm going to close it, we can revisit if changes are needed.

[2021-01-12 09:43] #163 closed

[2021-01-12 13:23] RenaudRohlinger commented on #225
Natively on threejs there is a onProgress callback for any gltf / datatexture. I remember there was an issue when the file was with some specific server configuration where it lost the initial total size (see https://github.com/mrdoob/three.js/issues/15584) and always keep the progress at 0.  I have no idea about how it works with the useProgress hook but it should be doable. Maybe @gsimone or @dr

[2021-01-12 15:44] nestorchura2019 commented on #225
@RenaudRohlinger I had that problem that the progress in three.js was always zero but in Local it worked, but it seems that it was a problem with the hosting (firebase), a friend told me that in AWS it worked.
But in reeact.js I am not sure what the error is so the% load is not accurate

[2021-01-12 18:25] AndrewPrifer commented on #3
@gsimone @drcmda  I think when this issue was created, the `Environment` component wasn't exported yet. I think that solves most (all?) problems raised here. Should we close this?

[2021-01-12 18:27] gsimone commented on #3
It doesn't quite solve it, but it's a good springboard for people looking to add env maps ( or they can just use it ™ ). So agree on closing this!

[2021-01-12 18:29] AndrewPrifer commented on #3
Oh yes, it doesn't quite return a map, but you were gonna assign it to `scene.environment`/`background` anyway :P I think we can close it.

[2021-01-12 18:29] #3 closed

[2021-01-13 04:56] RenaudRohlinger commented on #173
@FRMR1 can you try using this syntax :

For the Text, it would be better to put the material inside the Text and not as a parameter. I made an example real quick :
https://codesandbox.io/s/r3f-troika-text-forked-rtu5r?file=/src/index.js

So in your case it would be something like that :

[code]

[2021-01-14 15:09] Code47X commented on #176
@joshuaellis I saw your pr (https://github.com/pmndrs/react-three-fiber/pull/930) to fix `useLoader` was merged in. Nice work, I learned a lot about conditional return types and function signatures just reading through it.

Are you planning on fixing the typing for the  `useTexture` hook yourself, or would you like me to make a pr?

[2021-01-14 15:40] joshuaellis commented on #176
@Code47X thank you, but I must honest, it was @stephencorwin who really came up with the plan with the conditionals & your suggestion too for handling the string correctly, I just put the two together.

I hope to finish #223 this evening, so keep an eye out for the issue being closed, I think the PR is nearly there tbh.

[2021-01-14 18:27] joshuaellis commented on #41
I'm going to close this as there hasn't really been any activity, but if anyone has a proposal that (and I quote drcmda)

We can reopen and revisit.

[2021-01-14 18:27] #41 closed

[2021-01-15 09:34] joshuaellis commented on #226
fixed in #231

[2021-01-15 09:34] #226 closed

[2021-01-15 09:42] joshuaellis commented on #220
fixed in #231

[2021-01-15 09:42] #220 closed

[2021-01-15 09:53] joshuaellis commented on #176
fixed in #231

[2021-01-15 09:53] #176 closed

[2021-01-15 11:18] joshuaellis opened #233 "Blob is not defined (nextjs - ssr)"
- `three` version: 124
- `react-three-fiber` version: 5.3.12
- `@react-three/drei` version: 2.2.16

### Problem description:

with the new update I can see `Cloud.tsx` imports `CloudImage` which at some point calls `new Blob` I don't think `Blob` is defined in `node`.

### Suggested solution:

we could use `cross-blob` which is probably like `isomorphic-fetch`. Alt we can look at other ways that m

[2021-01-15 14:30] Kaushal-Panchal opened #234 "Node module CurveModifier.js Failed to compile"
### This is the error I am facing while using drei , Looks like an issue with latest version ( "@react-three/drei": "^2.2.15" )

**Failed to compile.**

./node_modules/@react-three/drei/CurveModifier.js
Module not found: Can't resolve 'three/examples/jsm/modifiers/CurveModifier' in 'F:\Work\MyProjects\React-Three\mine_craft\node_modules\@react-three\drei'

[2021-01-15 14:34] joshuaellis commented on #234
Hi @Kaushal-Panchal can you please tell us what version of three you're using? I imagine you don't have the correct version to call `CurveModifier`

[2021-01-15 14:39] Kaushal-Panchal commented on #234
Hey , @joshuaellis  ...
**react-three-fiber: "^5.3.13**
 **three : ^0.121.1,**
These are my current dependencies!

[2021-01-15 14:43] joshuaellis commented on #234
Yep, `CurveModifier` wasn't added until r122 – https://github.com/mrdoob/three.js/pull/20538 you'll need to update dependencies if you want to use `CurveModifier` or downgrade `@react-three/drei`

[2021-01-15 14:43] #234 closed

[2021-01-15 17:48] joshuaellis opened #235 "[Feature] Center children wrapper"
### Describe the feature you'd like:

Suggestion on [discord](https://discord.com/channels/740090768164651008/741751532592038022/799644579031679026). A component that would center it's children, this idea mainly came about from the need of constantly centering your models that are imported.

### Suggested implementation:

Here's what was proposed on the discord server:

[code]

This would need to

[2021-01-16 18:38] gsimone opened #238 "Make <Environment /> work with a passed scene"
When using a non-default scene, environment doesn't work. It's enough to add a `scene` prop:

[code]

This is a two-three lines change max

## TODO

- [ ] Make the change
- [ ] Add this case to the storybook

[2021-01-18 09:20] #235 closed

[2021-01-18 09:35] joshuaellis commented on #221
released in v2.3.0-beta.1

[2021-01-18 09:35] joshuaellis commented on #212
released in v2.3.0-beta.1, please track in #221

[2021-01-18 09:35] #212 closed

[2021-01-18 09:36] joshuaellis commented on #182
released in v2.3.0-beta.1, please track in #221

[2021-01-18 09:36] #182 closed

[2021-01-18 09:36] joshuaellis commented on #19
released in v2.3.0-beta.1, please track in #221

[2021-01-18 09:36] #19 closed

[2021-01-18 15:24] joshuaellis commented on #233
used `blob-polyfill` as `fetch-blob` didn't work in browser probs not isomorphic.

[2021-01-18 16:19] joshuaellis commented on #233
needs to add polyfill for `atob`:
[code]

[2021-01-18 16:58] MehediH commented on #2
Hey everyone! I am running into this issue and can't seem to figure out a fix. I have followed @gsimone's approach to use `drei` in Next.js but I am still getting the following error:

![image](https://user-images.githubusercontent.com/10274434/104943627-f20bb580-59ad-11eb-9430-00c639c6a423.png)

If I import `drei` components as such, the issue disappears:

[code]

...which is not the cleanest way

[2021-01-18 17:01] joshuaellis commented on #2
This is a known error currently & we're working on a fix, you can track it here #233

[2021-01-18 17:03] MehediH commented on #2
Aha! Apologies should have looked at the `drei` repo first. Thank you!

[2021-01-18 17:59] joshuaellis commented on #233
fixed in `2.3.0-beta.3`

[2021-01-18 22:22] joshuaellis commented on #190
I think given the infancy of `component-material` we should still keep `shaderMaterial`.

In reference to the issue, would this maybe have something to do with the reconciler & `extend`, if you don't extend the material and summon it in a more "traditional" way, the problem doesn't persist – https://codesandbox.io/s/friendly-cdn-4ytnz?file=/src/App.js what's your take based on this example @drcmda

[2021-01-19 02:50] SiegeSailor opened #240 "THREE.WebGLShader ERROR when input specific number to softShadows"
- `three`: 0.124.0
- `react-three-fiber`: 5.3.11
- `@react-three/drei`: 2.2.15
- `node`: 13.1.0
- `npm`: 6.14.9

### Problem Description:

I ran into the following error when I implement `softShadows` with specific numbers. All the imported models would be gone and the console will report the error message with red color when it occurs.

<details>
    <summary>
        Console Error Message
    </

[2021-01-19 07:25] mattrossman opened #241 "Support EXT_meshopt_compression in useGLTF"
### Describe the feature you'd like:

I'd like to support the `EXT_meshopt_compression` glTF extension in the `useGLTF` hook, which enables further file compression beyond what Draco can achieve. See: https://www.npmjs.com/package/gltfpack

For example, with Draco alone I can shrink a 600 KB model down to 430 KB. With `gltfpack` using the `-c` flag I can shrink it all the way down to **130 KB**.

[2021-01-19 07:59] joshuaellis commented on #240
Hi @SiegeSailor, do you have an mwe that you can share please?

[2021-01-19 08:12] gsimone opened #242 "In softShadows the `frustum` attribute is being called `frustrum`"
We should probably just alias it to the correct name

[2021-01-19 08:13] gsimone commented on #240
`samples` should be an int

[2021-01-19 08:21] gsimone commented on #240
`frustum` should always be float
`samples` should always be int

Sandbox: https://codesandbox.io/s/laughing-minsky-9p93n?file=/src/index.js

[2021-01-19 09:07] joshuaellis commented on #242
Is this on `three`?

[2021-01-19 09:10] joshuaellis commented on #136
I'm going to close this, if you need more assistance, we can reopen. Although, you may be better using the [discord server](https://discord.gg/Vsv23WJt)

[2021-01-19 09:10] #136 closed

[2021-01-19 09:13] joshuaellis commented on #102
@CharlieHess what browser were you experiencing this on? Chrome?

I've just tested on my iPhone & there doesn't seemt o a problem with initial rendering.

[2021-01-19 09:24] joshuaellis commented on #240
Whilst this isn't a bug, I have update the documentation to reflect what @gsimone has written above.

[2021-01-19 09:24] #240 closed

[2021-01-19 10:25] gsimone commented on #242
https://github.com/pmndrs/drei/blob/93d842ad43c32dd3d5ad67e560c400801dfe8a99/src/softShadows.tsx#L12

[2021-01-19 15:17] tilnea opened #244 "Cannot use delete/backspace in Input inside <Html> & carot moves to end of field on updates"
- `three` 0.124.0:
- `react-three-fiber` 5.3.11:
- `@react-three/drei` 2.2.18:
- `node` version: 14.15.0
- `npm` (or `yarn`) version: 1.22.5 yarn)

### Problem description:

I use html from drei and inside I have a input field. when adding to the input everything is fine, but I cannot delete characters inside it

### Relevant code:

[code]

[2021-01-19 15:24] joshuaellis commented on #244
Hi @tilnea do you have mwe you could share with us please?

[2021-01-19 18:03] joshuaellis commented on #205
I've been looking at this briefly today, I see a problem being that there's lots of different kinds of `Curve` is the idea to support them all? I don't think all of them lend themselves to be edited nicely, i.e the base `Curve` component doesn't have a `setPoints` func. What do you think?

[2021-01-19 18:48] joshuaellis commented on #181
I've just had a look at this, I'm curious why it wouldn't update as the component is now. @mattrossman or @jugglingcats do you have any thoughts about this?

[2021-01-19 20:54] jbixon13 commented on #136
Yeah I think this was a misinformed question as I was new to three at the time.

The goal was to have a sky component that could cast shadows from where the sun is in the scene, but a directional light is more appropriate and shouldn't necessarily be tied to the sun's position exactly

[2021-01-19 22:37] joshuaellis commented on #173
I'm actually going to close this, it's pretty old & im sure @RenaudRohlinger has provided a great answer. If you need anymore assistance we can reopen it.

[2021-01-19 22:37] #173 closed

[2021-01-19 22:55] joshuaellis commented on #241
Hi @mattrossman,

I've just looked at the impl for `useGLTF` we use `DRACOLoader` from [three](https://github.com/mrdoob/three.js/blob/master/examples/jsm/loaders/DRACOLoader.js) unfortunately, I can't see a method called `setMeshoptDecoder` maybe i've misunderstood?

It might be easier & quicker for you to create a PR. But i'm concerned this needs to be done on `three` not here?

[2021-01-20 01:18] mattrossman commented on #241
Done. Btw the loader I was referring to is the `GLTFLoader` passed to the function that `draco` returns.

[2021-01-20 02:40] mattrossman commented on #181
@joshuaellis I believe there is no straightforward way to dynamically change the number of points in a line in Three.js (see https://stackoverflow.com/q/14840026/8371763), best you can do is pre-allocate a buffer with a maximum number of points and ignore the parts you don't use. Easiest solution seems to be just creating a new geometry as @jugglingcats does

[2021-01-20 02:46] SiegeSailor commented on #240
Thanks. I will keep this in mind.

[2021-01-20 09:23] joshuaellis commented on #241
Ah I see, thanks @mattrossman for that, this has been released in `2.3.0-beta.5`

[2021-01-20 09:26] joshuaellis commented on #181
I see, thanks for the insight! I'll work on implementing @jugglingcats' solution. I don't necessarily see an issue with it and it makes the component more *"reactive"*

[2021-01-20 19:52] jbixon13 opened #248 "Add contributing.md"
### Describe the feature you'd like:

As a potential contributor I'd like some basic guidelines for how to compose a PR for maintainers. Specifically I think some clarity around whether I should be creating a story for a potential component in `.storybook` and whether knobs should be used vs. `use-tweaks`, or if there are other styles I should conform to such as making a csb demo

I think there us

[2021-01-20 20:18] joshuaellis commented on #248
That's a good idea.

I recently added some templates for issues which I'm finding the useful. I hope people reporting the issues are too!

I think we could do with one for PRs & a contributing guide.

[2021-01-21 06:31] trusktr opened #250 "What does drei mean or stand for?"
This is neat stuff! I'm curious what the name means.

[2021-01-21 07:58] MaxTwentythree commented on #250
It's "three" in German

[2021-01-21 08:31] #250 closed

[2021-01-21 08:54] #248 closed

[2021-01-21 14:22] joshuaellis commented on #225
I'm going to close this as it looks like an issue with three.js, @nestorchura2019 if you need anymore support, we can reopen this.

[2021-01-21 14:22] #225 closed

[2021-01-21 14:25] joshuaellis commented on #211
@gsimone do we still need this open? If so, what are the next steps so someone can pick it up? 👍🏼

[2021-01-21 14:27] joshuaellis commented on #238
@gsimone do you have an example of what you mean by a non-default scene?

[2021-01-21 14:30] gsimone commented on #238
[code]

[2021-01-21 14:30] jbixon13 commented on #211
A component is still needed to load the LUT to the scene from the repo that hosts the LUTs. I was going to try making one within the next week or so.

Also not sure what the timeframe of those assets being hosted under pmndrs is, I'll plan on linking to matt's repo for now

[2021-01-21 14:44] joshuaellis commented on #211
sounds great @jbixon13 feel free to shout on [discord](https://discord.gg/BGAGEgnY) or create a draft PR if you need any support.

[2021-01-21 14:44] joshuaellis commented on #238
Thanks @gsimone

[2021-01-21 18:30] mattrossman opened #251 "SVG and/or Icon support"
### Describe the feature you'd like:

When building 2D UI, it's very useful to have a collection of vector icons to quickly pull in for things like buttons. It would be similarly helpful to have 3D representations of those icons for things like VR menus.

### Suggested implementation:

One approach would be to add an `<Svg />` component or `useSVG` hook that interfaces directly with Three's `SVGLo

[2021-01-21 18:40] jbixon13 opened #252 "Storybook Knobs -> Controls"
### Describe the feature you'd like:

Transitioning from knobs to controls (and some of the theorized advantages) have been documented [here](https://medium.com/storybookjs/storybook-controls-ce82af93e430).

@gsimone discussed an attempt at this transition; any knowledge you have on some of the pitfalls you ran into would be appreciated.

Another relevant resource is [this open issue](https://gith

[2021-01-21 19:34] joshuaellis commented on #178
This is great @snsie, would you be interested in making a PR if you think this feature is in a good enough state? It's easier to critique and refine that way 🙏🏼

[2021-01-21 19:35] joshuaellis commented on #178
Think this could **really** complement another feature currently being built #245.

[2021-01-21 20:47] jfoxworth opened #253 "Compilation error upon install"
I installed drei in the normal manner. I tried to use the Html, Stars, Sky, and other components and got the error below upon compilation. The package is basically unusable. I tried deleting the node_modules folder and reinstalling, but that didn't solve the issue.

    Module not found: Can't resolve 'three/examples/jsm/modifiers/CurveModifier' in '/Users/.../node_modules/@react-three/drei'
    /

[2021-01-21 21:36] joshuaellis commented on #253
Hi @jfoxworth,

You need to be running at least v122 of three to use the generic installs. However, if you're reluctant to updating three, you may be able to get away with importing `Html` like so: `import { Html } from '@react-three/drei/html`

[2021-01-21 21:54] jfoxworth commented on #253
I updated three.js and now I have this error ...
./node_modules/@react-three/drei/Environment.js
Module not found: Can't resolve 'use-asset' in '/Users/...'
I tried using the other method with /html and that did not work either.

[2021-01-21 21:58] joshuaellis commented on #253
If you can provide a mwe we can look into it for you.

[2021-01-21 22:00] jfoxworth commented on #253
mwe?

[2021-01-21 22:01] joshuaellis commented on #253
Minimal working example

[2021-01-21 22:02] jfoxworth commented on #253
Can I ask what the difference is between installing @react-three/drei and just drei?

[2021-01-21 22:03] joshuaellis commented on #253
Drei is the old namespace, it’s not really up to date, and afaik were looking to depreciate it. I would use @react-three/drei

[2021-01-21 22:04] jfoxworth commented on #253
Ok. They both give me the same error. What can I do to provide a mwe? Other than a package.json, what can I do?

[2021-01-21 22:05] joshuaellis commented on #253
Create an example repo with the application you’re currently working in that we can clone. Alternatively create a code sandbox and provide the link to said sandbox.

[2021-01-21 22:06] jfoxworth commented on #253
I think that's the bummer because I originally did this is code sandbox before coming over to my main code base to implement it and I had no issues. Is there any other package that may need to be updated in included that I am forgetting?

[2021-01-21 22:08] joshuaellis commented on #253
`react-three-fiber`? The peer-dependencies for `drei` Have r3f at v5-something (I can’t remember right now)

[2021-01-21 22:09] joshuaellis commented on #253
Also you’re going to have issues with nextjs & three, I’d look at our next-starter to understand how to get past that caveat.

[2021-01-21 22:17] jfoxworth commented on #253
I updated react-three-fiber to the latest version and managed to get another error.

Server Error
SyntaxError: Unexpected token {

This error happened while generating the page. Any console logs will be displayed in the terminal window.
Call Stack
<unknown>
file:///Users/joshuafoxworth/.../node_modules/three/examples/jsm/lines/LineGeometry.js (1)
Module._compile
internal/modules/cjs/loader.js (721

[2021-01-21 22:22] joshuaellis commented on #253
yep, that looks like the `three.js` problem with next I was talking about. You'll either need to use `next-transpile-modules` or dynamically inject the componenest from THREE // drei (because we import the components from THREE) like so:

[code]

In my experience i suggest you just use `next-transpile-modules`. It's easier and less of an import headache.

[2021-01-21 22:22] #253 closed

[2021-01-21 22:35] jfoxworth commented on #253
What am I importing dynamically in that case? Is it the /drei/html or my react component?

[2021-01-21 22:39] joshuaellis commented on #253
Your component that contains the drei/three module.

[2021-01-21 22:47] jfoxworth commented on #253
OK. Thanks. I appreciate the help.

[2021-01-21 22:51] jfoxworth commented on #253
You saved me. I never would have figured this out on my own.

[2021-01-21 23:05] joshuaellis commented on #253
The next thing is annoying and I think it has to do with the way `three` have set their library up, it's a bit odd(?). But the dependency thing i'll have to double check that the repo is suggesting the correct peer levels for the project. No worries, glad I could help.

[2021-01-22 08:58] tilnea commented on #244
I have tried and tried to make a sandbox but I cannot reproduce it outside of my repo.

I have done a sandbox with something that maybe maybe might be related somehow
https://codesandbox.io/s/drei-input-forked-w08dj?file=/src/index.js

If I set my marker after the big T and type letters, the marker will go to the end of the text after one character is added in the input inside the canvas, but not

[2021-01-22 09:12] joshuaellis commented on #244
Hi @tilnea,

Can you share the repo? If you're not able too, then I'm unsure how we can help.

Thanks for this, we'll look into that bit, looking at the `Html` component, I can imagine why this *may* happen.

[2021-01-22 10:21] drcmda commented on #244
it looks like the component is re-mounted on every change. im looking into it as well, made a box for quick testing: https://codesandbox.io/s/drei-input-forked-m2drd?file=/src/Html.tsx

[2021-01-22 10:28] drcmda commented on #244
as a quick workaround:

[code]

Each Html component opens up a new react-root, so it must have something to do with that since it's working within the root. Still not sure why or how the problem happens.

[2021-01-22 10:32] #244 closed

[2021-01-22 10:34] drcmda commented on #244
it's fixed in 2.2.19: https://codesandbox.io/s/drei-input-forked-m2drd

[2021-01-22 12:29] tilnea commented on #244
It solved my backspace problem as well! Thank you! :)

[2021-01-24 21:06] johnmarinelli commented on #191
it appears like this is an issue with r3f's `prepareRaycast` function.  there was a commit a while ago that replaced setting the mouse.xy from `clientX, clientY` to `offsetX, offsetY`.  however, when using the Html element, the React.useCallback `event` object is picking up the child <Html> element instead of its parent.  therefore, the offsetXY of the child <Html> element is much smaller than the

[2021-01-24 21:16] snsie commented on #178
Cool, will do. I need to improve the current implementation but will submit a PR next week. I'll close this issue for now.

[2021-01-24 21:17] #178 closed

[2021-01-25 09:13] joshuaellis commented on #191
Thanks @johnmarinelli, I can't imagine this was easy to debug. I think we should move this issue to the r3f repo now, but lets keep the issue open & i'll add a label for `fixed on r3f`. But I personally don't see an issue with your proposal, @drcmda will be more informed on this kind of change than I.

I'll leave with you to open the new issue if that's okay?

[2021-01-25 17:12] drcmda opened #257 "Request: Preload"
When the webgl renderer first encounters an object, it will compile its materials and upload textures to the gpu. In scale this can tear into the framerate for a bit. Threejs has the ability to pre-compile, this component would allow us to do this declaratively, but it would also work in complex async scenarios, which would be fantastic.

Proposal:

#### Preload

The WebGLRenderer will compile mat

[2021-01-25 17:15] joshuaellis commented on #252
Hi @jbixon13 would you be interested in heading the implementation of this change? @Code47X has already implemented a new story with controls in #245.

[2021-01-25 17:29] gsimone commented on #257
I don't understand the implication of this. Do !visible objects not get their shaders compiled?

[2021-01-25 18:43] drcmda commented on #257
webglrenderer.compile will only compile things that are visible. it's quite the problem, the moment something appears on screen threejs will churn through the compilation stage which bites into the framerate.

[2021-01-25 18:50] joshuaellis commented on #257
Why wouldn't this be part of r3f? It feels like a renderer thing?

[code]

[2021-01-25 20:16] drcmda commented on #257
because of suspense. it wouldnt be able to get the scene in a useEffect. imo this can only work by letting the user plug that in. the above - im not yet sure if that's the way yet, just putting it out there.

[2021-01-25 21:30] drcmda commented on #257
here's an example: https://codesandbox.io/s/cell-fracture-forked-h9pv8?file=/src/App.js

before:

<img width="611" alt="Screenshot 2021-01-25 at 22 29 57" src="https://user-images.githubusercontent.com/2223602/105768589-dfb8eb00-5f5c-11eb-95b6-7d3f4b12448f.png">

after:

<img width="756" alt="Screenshot 2021-01-25 at 22 30 42" src="https://user-images.githubusercontent.com/2223602/105768657-fb23f6

[2021-01-25 21:51] drcmda commented on #257
btw that was the reason for todays twitter spat. the guy ran that demo and thought react creates jank. svelte man and vue fella smelled blood.

[2021-01-25 23:43] jbixon13 commented on #252
yes! I'll start work on it; do you think it makes sense to wait until this PR is merged so I don't have to deal with any potential conflicts in `.storybook/main.js` and its installs?

[2021-01-26 08:07] gsimone commented on #257
Closed by #258

[2021-01-26 08:07] #257 closed

[2021-01-27 14:19] LukaszGrela opened #261 "Compilation error: Attempted import error: 'Geometry' is not exported from 'three'."
- `three` version: 0.125.1
- `react-three-fiber` version: 5.3.18
- `@react-three/drei` version: 2.2.22
- `node` version: 12.15.0
- `npm` (or `yarn`) version: yarn 1.19.0

### Problem description:
Can't compile after installation of drei and using any of the shape component

### Relevant code:

[code]

### Suggested solution:

[2021-01-27 14:55] LukaszGrela commented on #261
I've tried to use the sandboxed example: https://codesandbox.io/s/r3f-render-target-forked-nklno?file=/src/index.js but this one also fails:

[code]

[2021-01-27 15:18] joshuaellis commented on #261
We currently do not support THREE@125 because they removed `Geometry` and `Subdivision`. We will be in the upcoming v3

[2021-01-27 15:21] #261 closed

[2021-01-27 22:40] tiborsaas opened #263 "useAnimations is broken"
- `three` version: 0.125.1
- `react-three-fiber` version: 5.3.18
- `@react-three/drei` version:2.2.2

### Problem description:

useAnimations throws an error.

### Error output:

[code]

According to the Three.js changelog, the `SubdivisionModifier` is indeed removed:

https://github.com/mrdoob/three.js/releases/tag/r125

### Suggested solution:

The linked issue has some good ideas: https://githu

[2021-01-27 22:58] joshuaellis commented on #263
`@react-three/drei` does not support `three` r125. We support up to `0.124.x`.

[2021-01-27 22:59] #263 closed

[2021-01-28 02:35] jbixon13 opened #264 "Fix install instructions"
- `three` version: 123
- `react-three-fiber` version: 5.3.13
- `@react-three/drei` version: 2.2.23
- `node` version: 10.15.1
- `npm` (or `yarn`) version: 1.21.1

### Problem description:

Forking drei and then following instructions in `CONTRIBUTING.md` does not work. Running:
- `git clone`
- `cd drei`
- `npm install`
produces a build error. This is resolved by running `yarn install` instead of `n

[2021-01-28 07:37] joshuaellis commented on #264
Closed by #265

[2021-01-28 07:37] #264 closed

[2021-01-28 09:31] tiborsaas commented on #263
Makes sense. Maybe it would worth mentioning it in the readme.

[2021-01-28 09:36] joshuaellis commented on #263
I do believe its in the package peer deps of the latest release, even if you were using r124, it would not work with drei 1.2.2 because CurveModifier was introduced in r122. So in short, i'd update to the latest version of `@react-three/drei` and keep at `three` 124.

[2021-01-28 16:34] #181 closed

[2021-01-28 16:34] #221 closed

[2021-01-28 16:34] #233 closed

[2021-01-28 16:34] #238 closed

[2021-01-28 16:34] #241 closed

[2021-01-28 16:34] #242 closed

[2021-01-28 21:24] joshuaellis commented on #251
Hi @mattrossman sorry for the delay in replying.

Firstly, adding a hook like `useSvg` is a great idea. It'd fit in with the other loader hooks we've got e.g. `useTexture`.

I think taking the route of handling icon libraries is interesting. My only worry is looking at the demo, there's a lot of code there - potentially reinventing the wheel?

How would you imagine the webfont would work?

[2021-01-29 01:40] mattrossman commented on #251
@joshuaellis I agree, there is a lot of code duplicated from `three/examples` that make the SVG icon approach bloated.

The webfont would be provided by [`@mdi/font`](https://github.com/Templarian/MaterialDesign-Font-Build). I just experimented with how to display icon fonts in `troika-3d-text` and wrote an [equivalent webfont demo here](https://codesandbox.io/s/r3f-material-design-icons-webfont-e

[2021-01-29 02:45] aseutin opened #269 "Must specify stencilWriteMask and stencilFuncMask to create Line component"
- `three` version: 0.123.0
- `react-three-fiber` version: 5.3.11
- `@react-three/drei` version: v3.0.0
- `node` version: v12.4.0
- `npm` (or `yarn`) version: 1.22.5

### Problem description:

This is a new issues as of v3.0.0.

Based off of [this reference](https://codesandbox.io/s/r3f-line-7mtjx?file=/src/index.js:356-458) in the documentation, I had been creating Line components with `<Line poin

[2021-01-29 08:22] joshuaellis commented on #269
Hi @aseutin

Thanks for the feedback, that sandbox uses incredibly out of date dependencies. Would you be able to provide an updated sandbox with illustrating the issue you’re having please?

Alternatively, you’re welcomed to submit a PR fixing the issue. Although on first glance, I believe the issue might be with threejs as opposed to our library.

[2021-01-29 08:43] joshuaellis commented on #269
Yes, unfortunately, I cannot replicate this issue. I've looked a bit further into it and both `stencilWriteMask` & `stencilFuncMask` come from `LineMaterial => Material` where they are [optional](https://github.com/mrdoob/three.js/blob/945ecfd7ea53aebf1d43e8b29ca6e48e084609be/src/materials/Material.d.ts#L52). So do please provide an example of this bug.

[2021-01-29 11:35] carllx opened #270 "An error message appears in the TXT component, when update to 3,0"
An error message appears in the TXT component, when update to 3,0
**Unhandled Runtime Error**
**Error: Error in worker registerModule call: window is not defined**

**Call Stack**
openRequests.<computed>
node_modules/troika-worker-utils/dist/troika-worker-utils.esm.js (593:0)
Worker.worker.onmessage
node_modules/troika-worker-utils/dist/troika-worker-utils.esm.js (579:0)

- `three` version:^0.125.

[2021-01-29 11:47] joshuaellis commented on #270
Hi @carllx

Here's a codesandbox example of the text component: https://codesandbox.io/s/r3f-troika-text-forked-hhgc3?file=/src/index.js it's using the same packages you've written and I cannot see an error. Please submit a minimal working example so we can review your issue. This is requested when you create a bug report.

[2021-01-29 12:29] bfuhne opened #271 "Console error: "MeshReflectorMaterial" is not part of the THREE namespace!"
- `three` version: 0.125.1
- `react-three-fiber` version: 5.3.18
- `@react-three/drei` version: 3.0.0-beta.6
- `node` version: 14.13.0
- `npm` (or `yarn`) version: 6.14.8

### Problem description:

I downloaded the drei reflector demo, which is running fine as it is.

Then I run `npm run-script build`.
The build process finishes successfully.
But opening the build in the browser throws an error an

[2021-01-29 12:34] joshuaellis commented on #271
Can you please provide an example of the code? Repo or Sandbox is fine.

[2021-01-29 13:02] bfuhne commented on #271
Hi,

I downloaded the code from this sandbox:

https://codesandbox.io/s/drei-reflector-bfplr

And then ran npm install. Tested the demo using npm run-script start - is running fine.
Build via npm  run-script build - Serving the build results in the above error.

[2021-01-29 13:03] gsimone opened #272 "Reflector story is broken"
Probably need to bring it up to date with the new component.

[2021-01-29 13:07] drcmda commented on #271
@joshuaellis i think it should explicitely do

import "../materials/MeshReflectorMaterial"

in reflector.tsx

the message above means that the extend wasn't executed for some reason. or at least by the time something tries to do `< meshReflectorMaterial/>` r3f had no known object for that.

[2021-01-29 13:10] joshuaellis commented on #272
duplicate of #271 👀

[2021-01-29 13:10] #272 closed

[2021-01-29 13:58] joshuaellis commented on #271
Hi @bfuhne,

Thanks for that. I've added a fix on beta - `3.1.0-beta.1` (im not sure why it's decided its 3.1). I've tested it and & it works for me, it'd be great if you can confirm too & i can merge to master for release.

cc @gsimone

[2021-01-29 14:38] carllx commented on #270
@joshuaellis , thanks for Many thanks for the prompt reply.
I have no idea what cause the error,

There is nothing special about my code

[code]
The following error is displayed in the browser console

[code]

`| openRequests.<computed> | @ | troika-worker-utils.esm.js?2e99:593
-- | -- | -- | --
  | worker.onmessage | @ | troika-worker-utils.esm.js?2e99:579
  | Promise.then (async) |   |  
  | get

[2021-01-29 14:55] joshuaellis commented on #270
`window is not defined` usually points to SSR. Are you using SSR?

[2021-01-29 17:45] bfuhne commented on #271
Hi @joshuaellis,

can confirm, build version works beautifully with 3.1.0-beta.1.
I'm in awe of this level of help and support. Just amazing.

[2021-01-29 17:45] #271 closed

[2021-01-29 17:51] carllx commented on #270
Yes, you are right, I am using nextjs, but the component only import in browser, I have no idea why is still trigger the warning.
[code]

[2021-01-29 17:53] joshuaellis commented on #270
Can you provide a minimum working example and I can have a proper look? Without it will be a real struggle, there's a lot depending on your config etc

[2021-01-29 19:28] cedeber opened #273 "ReferenceError: Can't find variable: global"
### Problem description:

Hello, the `global` variable can't be found, like here: https://github.com/pmndrs/drei/blob/99c4500472a5b5d90fe05e059f591065f3edd5f2/src/helpers/base64.ts#L3

Although I didn't compile the project - I won't be able to run `npm install` on the current master branch, it failed - I understand that in the case of ES module for the browser it doesn't work. I won't be surprised

[2021-01-29 19:49] joshuaellis commented on #273
Hi @cedeber,

I'm not familiar with ES modules for the browser tbh. But to give you some context, we have to polyfill the `Blob` for SSR.
If you'd like to fix this bug that'd be very helpful.

Thanks.

[2021-01-29 20:20] cedeber commented on #273
Ok, good to know. I don't have lots of free time, but I can have a look.

[2021-01-29 22:49] joshuaellis commented on #102
Closing stale issue

[2021-01-29 22:49] #102 closed

[2021-01-30 18:10] joshuaellis commented on #270
Hi @carllx,
I've had a look at this issue using `nextjs` here – https://codesandbox.io/s/bold-engelbart-1c7zz?file=/pages/index.js and are still unable to reproduce the issue, to take this any further I must insist we have an example of your code that can reproduce the issue.

[2021-01-30 18:34] joshuaellis commented on #273
I don't think anyone really has lots of free time lol! I did a quick google and here's a workaround for you, and just to let you know, the repo is written in TS and works in TS but thank you for the concern.

Here is the workaround: https://github.com/snowpackjs/snowpack/discussions/1085

If you do find yourself with sometime to help apply a permanent fix, that would be awesome.

[2021-01-30 18:34] #273 closed

[2021-01-31 18:40] gsimone opened #277 "[storybook] Add a story for Reflector that shows blurring and depth attenuation"

[2021-01-31 20:18] gsimone opened #278 "Bump peer-dependency for react-three-fiber to latest"
Latest fixes problems with useLoader (see stories for texture)

[2021-01-31 20:40] #278 closed

[2021-02-01 08:42] joshuaellis commented on #251
Hm, I think you're original implementation makes the most sense, it works quicker ootb! I'm just wondering what are the benefits over creating an `Icon3D` component over just using the `SVGLoader` & passing icons from `@mdi/font`? Or is that not possible? I haven't used SVGLoader much tbh.

If we did want to go down this route, maybe it would make more sense to propose that THREE's internals are e

[2021-02-01 23:54] carllx commented on #270
@joshuaellis Thank you for trying to find a solution for my problem these days. I have tried many times. Just finally found the problem, in my configuration file `next.config.js`
[code]
Comment out withTM, everything is normal
[code]

[2021-02-01 23:55] #270 closed

[2021-02-02 01:17] unphased opened #281 "impossible to use latest version with three <125"
Unfortunately three.js r125 is broken for me (blank canvas). So I can't use it. But since v124 is before the type `listenToKeyEvents` was introduced to OrbitControls, this produces a catch-22.

The problem is that this error

[code]
cannot be eliminated by using `//@ts-ignore`, and the type definitions provided with drei are depending on the three.js corresponding types to have all the items liste

[2021-02-02 08:47] joshuaellis commented on #281
Unfortunately, this isn't a bug. The peer deps for v3.x.x currently clearly states `three>=0.125.0`. This is because of the breaking changes they introduced in regards to removing Geometries. You could opt to use the last version of v2, which I think is something like 2.22.x? You can check on NPM for that.

[2021-02-02 08:47] #281 closed

[2021-02-02 19:12] unphased commented on #281
Yeah I wanted to change the tag from bug but didn't see a way to. Agree maybe not a bug. And I get that three is a special snowflake that doesn't do semantic versioning, so that's fine that 125 is a breaking version. But I am just curious if there isn't a better way to define these types. I take it that the .d.ts files are generated somehow? Do you know what tool does that generation? It's just su

[2021-02-02 19:16] joshuaellis commented on #281
Are you on about the TS files for `three`? They're removed from `dev` and will be in r126. I'm in the process with another dev in moving them to DT.

I believe Mr Doob maintained them himself. So if there is a bug in the `.d.ts` files you could be right, if you can raise it in the DT repo & tag me that'd be great, if you can fix it, hold off to submit a PR until https://github.com/DefinitelyTyped/

[2021-02-02 19:24] unphased commented on #281
I was trying to use v3 of drei with three r122 which your first comment addressed and obviously I just need to use v2 of drei in that situation.

The smelly bit of TS i'm on about is the 2nd code block in my original post. As you can see it is a type definition for drei's `OrbitControls`, which is based off of three's `OrbitControls` (here imported as `OrbitControlsImpl`), my comment is that the d

[2021-02-02 19:39] joshuaellis commented on #281
They're auto-generated when our source files (written in TS) are compiled. But they're normally a clone of the `three` .d.ts files, in this case, they still pull in the OG type file. so I'm just gonna leave this as a conflict of libraries.

[2021-02-02 22:03] dsm23 opened #284 "Global not defined in ESM bundles."
- `three` version: 0.125.2
- `react-three-fiber` version: 5.3.18
- `@react-three/drei` version: 3.2.2
- `node` version: 15.5.1
- `npm` (or `yarn`) version: 2.4.0

### Problem description:

It appears that importing from the @react-three/drei library in one of the 2 snowpack react templates throws the ReferenceError: global is not defined. Issues appears to be specific to this library

[2021-02-02 22:30] joshuaellis commented on #284
Hi @dsm23,

Have you seen this issue? https://github.com/pmndrs/drei/issues/273

it contains a work around, however if you want to provide a fix that we can permanently implement that would be great! We currently use global as a fix for SSR.

I’m not clued up enough on Snowpack to suggest a solution for the long term yet.

[2021-02-02 22:38] joshuaellis commented on #284
This is the offending line: https://github.com/pmndrs/drei/blob/9f30f826980099af90cadc1d919a07bb023ce8c2/src/helpers/base64.ts#L3. I’m wondering if we need it. Whether importing Blob would simply fix our old SSR issue and now new ESM issue...

I could remove this line and release a beta tomorrow to see...

[2021-02-03 02:15] dsm23 commented on #284
I had not seen the other issue, thank you for point it out to me. If you do need the offending statement would a `globalThis` not also work?

[2021-02-03 09:13] joshuaellis commented on #284
Hi @dsm23,

I've released a patch on `3.2.3-beta.1` if you could try it out in snowpack that'd be great. I can test later in the day with SSR.

[2021-02-03 19:35] #284 closed

[2021-02-03 19:35] #190 closed

[2021-02-04 00:44] mattrossman commented on #251
Yes, it's possible to pull in the SVGs from @mdi/font, though this means you need to put each icon import on a separate line. My goal in the original demo was to mirror the API from `@mdi/react` as closely as possible

[2021-02-04 02:00] dsm23 commented on #284
works well, thank you

[2021-02-04 09:32] joshuaellis commented on #284
You're welcome @dsm23 👌🏼

[2021-02-05 03:01] ebzeal commented on #159
Hi @Alex23925 , how did you solve this? I am having the same issues and I believe it is because of Nextjs

[2021-02-05 08:00] joshuaellis commented on #159
@ebzeal  this is a nextjs issue. You have to either import the components dynamically with ssr: false or use next-transpile-modules

[2021-02-06 19:33] stephencorwin opened #291 "Test Issue"
Ignore this issue. Just testing the github webhook.

[2021-02-06 19:33] #291 closed

[2021-02-07 13:21] gsimone opened #293 "Reflector tweaks"
https://codesandbox.io/s/busy-wood-2sk0p?file=/src/App.js

(I'm creating this issue just to track & get csb)

[2021-02-08 04:49] mattrossman opened #294 "TransformControls block useResource re-rendering"
- `three` version: 0.125.2
- `react-three-fiber` version: 5.3.18
- `@react-three/drei` version: 3.4.1
- `node` version: (codesandbox)
- `npm` (or `yarn`) version: (codesandbox)

### Problem description:

R3F's [`useResource`](https://github.com/pmndrs/react-three-fiber/blob/master/markdown/api.md#useResource) is supposed to re-render when the ref has been filled. For some reason, drei's `<Transfor

[2021-02-08 09:00] joshuaellis commented on #294
Thanks @mattrossman

I've just had a quick look this morning, my initial thought could be it's failing because of this:

[code]

So initially the children aren't rendered. In this case `Thing2` I could be wrong, but it's a starting point at least because it also fails if you use `React.useRef()`.

[2021-02-08 13:26] dahannes opened #295 "Pass custom position function to <Html />"
### Describe the feature you'd like:

Pass a custom `calculatePosition()` function to `<Html />` component.

I have this use case where I need to make sure the html content (chart labels) sticks to the edge of the viewport and thus remains visible, even though the underlying canvas object gets moved off the screen.

### Suggested implementation:

Pass function as prop `<Html calculatePosition={(el

[2021-02-08 13:46] joshuaellis commented on #295
Hi @dahannes,

If you could create a sandbox of your suggested implementation that'd be great!
We can then critique it and make sure there aren't any issues.

Thanks

[2021-02-08 14:27] dahannes commented on #295
@joshuaellis thx – Here is the sandbox https://codesandbox.io/s/r3f-sticky-labels-ijhzv

[2021-02-08 14:44] joshuaellis commented on #295
Looks good, won't break anyone's builds if they update. Do you want to make a PR (incl the sandbox) and we can get other team members to check it out?

[2021-02-08 14:48] dahannes commented on #295
Sure, will look into the PR tomorrow

[2021-02-08 21:15] drcmda commented on #295
i wonder if this cant be done in a better way though. html has a portal prop that would allow you to place it into an absolute overlay. these escape hatches are often very specific and i'd try to avoid them if humanly possible. we already have them in r3f and it's gotten to a point where it starts to seriously damage going forward because they create unwanted stopgaps when you want to refactor.

c

[2021-02-09 05:30] mattrossman commented on #294
Paul says `useResource` will be deprecated in the next R3F release since it's behavior can be replicated with a `useState` pattern. The issue doesn't occur with the `useState` pattern, so I think we can close this.

Updated sandbox:
https://codesandbox.io/s/drei-use-resource-bug-forked-txgp9?file=/src/App.js

[2021-02-09 07:14] dahannes commented on #295
I see your point @drcmda , but I don't think this can be solved with a separate portal element.

The portal itself would just be a static container, but I need to calculate the position for each element on every frame.
Therefore I need the same arguments as the original function: el, camera, size

[2021-02-09 07:21] #294 closed

[2021-02-09 09:21] joshuaellis commented on #269
Closing due to inactivity. If you need any supporting, we can reopen.

[2021-02-09 09:21] #269 closed

[2021-02-10 01:13] jbixon13 opened #297 "weather component"
### Describe the feature you'd like:

I built a weather component that I've used to create effects like rain or snow in a scene. I could clean up my implementation and open a PR if it has use within drei

### Suggested implementation:

https://codesandbox.io/s/weather-testing-v2-o8wwo?file=/src/Components/Rain.jsx

[2021-02-10 17:36] #293 closed

[2021-02-11 17:10] gsimone opened #300 "Storybook - Make a better story for ContactShadows"
ContactShadows doesn't really tell a good story for the component, it look like a regular shadow. Look for a better setup

[2021-02-12 04:52] williaster commented on #159
linking to a related issue with more detailed workaround suggestion

https://github.com/pmndrs/drei/issues/253#issuecomment-764979499

[2021-02-12 09:08] #277 closed

[2021-02-12 09:08] joshuaellis commented on #277
closed by #288

[2021-02-12 09:14] joshuaellis commented on #297
Hi @jbixon13,

I've had a look at this quicky, so forgive me I've misunderstood something but these are my initial thoughts:

Currently, I think the visual style is too dictated, it'd be good to understand what this feature is offering at its core and bring that out when you look at something like `Reflector` there are a lot of parameters which really vary the visual style and let people use the c

[2021-02-12 14:35] joshuaellis opened #302 "useProgress is broken"
- `three` version: 0.125.1
- `react-three-fiber` version: 5.3.18
- `@react-three/drei` version: 3.5.1

### Problem description:

useProgress is broken

### Relevant code:

just stays on 0 & also is never "active" therefore `Loader` will also be "broken"

https://drei-nsbsdwc7g.vercel.app/?path=/story/misc-useprogress--use-progress-scene-st

[2021-02-12 17:27] jbixon13 commented on #297
Yeah I planned to expose more props to the user through refactoring, things like point size, the width, height, depth of the point distribution, color of the points, potentially a texture instead of solid color.

Do you think it needs to be more generic than that? At that point the only thing we're enforcing are that there are points falling from the top to bottom of the scene.

[2021-02-12 21:46] cedeber commented on #284
This is good news, thanks. I confirm that it works with snowpack without the Node polyfill. Now, I'll test it with Vite too :-D

[2021-02-12 22:09] cedeber commented on #284
Also works with Vitejs 🥳

[2021-02-14 23:44] jure opened #305 "Sky codesandbox/example is broken due to missing dependency"
### Problem description:

The Sky codesandbox is broken: https://codesandbox.io/s/r3f-sky-3q4ev

[code]

### Suggested solution:

[code]

I'd make a PR, but I can't find if there is an automated way to update these codesandboxes through commits.

[2021-02-15 08:28] joshuaellis commented on #305
I think @gsimone knows about the sandbox examples?

[2021-02-15 08:51] joshuaellis commented on #305
Hi @jure I've spoken with @gsimone and because this sandbox is externally managed (they're not built from our repo) they're impossible to manage.

Our course of action is to remove the links from the README, replace with a storybook entry & from there if any are missing create an issue containing a large storybook update.

[2021-02-15 09:50] joshuaellis commented on #305
update: i've done the move in the README, didn't find anything in there that **had a sandbox but did not have a story**. However, there may be some components which do have a story, but i didn't link to, so lets keep an eye out 👀

[2021-02-15 09:50] #305 closed

[2021-02-16 08:23] #302 closed

[2021-02-16 09:22] #295 closed

[2021-02-16 09:22] joshuaellis commented on #227
Closing due to inactivity, if you want to discuss this again please reach out.

[2021-02-16 09:22] #227 closed

[2021-02-16 09:41] jure commented on #305
Thank you for looking into this Josh! Sounds good to me.

[2021-02-17 07:41] nathanbryantdev opened #308 "HTML Orthographic Camera does not zoom in and out accordingly"
- `three` version: ^0.112.1
- `react-three-fiber` version:^4.2.21
- `@react-three/drei` version:^1.5.7
- `node` version: v12.18.4
- `npm` (or `yarn`) version: 6.14.6

### Problem description:

While using an Orthographic camera, the objectScale is not producing the correct scaling. It is blowing up the proportion of the HTML markers by 1000x

### Relevant code:
`function objectScale(el, camera) {

[2021-02-18 09:25] joshuaellis commented on #308
closed via #311

[2021-02-18 09:25] #308 closed

[2021-02-20 17:05] nestorchura2019 opened #314 "useProgress - Warning: Cannot update a component (`Loader`) while rendering a different component"
Im loading a gltb model and a texture(lightMap),
--
when using the useProgress I get the error, if I don't load the texture (_const texture = useTexture("balightmap2.jpg")_), the error is not displayed, I think the error comes out because I'm loading two things, the glb and the texture

[code]
Codesandbox  - [https://codesandbox.io/s/z8zjw?file=/src/App.js](https://codesandbox.io/s/z8zjw?file=/src

[2021-02-22 11:39] joshuaellis commented on #314
Hi @nestorchura2019,

Thanks for this, I believe this is an issue with some changes made in #304. @RenaudRohlinger, would you mind looking into this? Or shall I just revert that commit?

[2021-02-22 12:41] nestorchura2019 commented on #314
thanks

[2021-02-22 16:47] fnick851 commented on #281
I am using `Next.js`. And as a temporary and easy workaround, you could do:
[code]
in your `JSX` to suppress the error.

This is not fixing the issue but at least it'll allow you to build.

[2021-02-22 17:22] RenaudRohlinger commented on #314
@joshuaellis That's a known issue that has always been here. My last PR couldn't affect that part.
For example with v3.3.0 :
https://codesandbox.io/s/oficce-with-loading-ui-forked-1nyws?file=/src/App.js
It's just an issue about some data loaded asynchronously mixed with a react setter.

I don't really know how to fix that, maybe refactor the whole hook?

[2021-02-22 17:38] joshuaellis commented on #314
This isn't the case with v3.8.0 – https://codesandbox.io/s/oficce-with-loading-ui-forked-sjgs4?file=/src/App.js the example you've sent over uses a version of `three` that is not compatible with the version of `drei`.

[2021-02-22 18:06] RenaudRohlinger commented on #314
@joshuaellis We did not had this error between 3.4.0 and 3.8.0 because I tried to fix it by using a separate instance of the loader for async multi loading which was wrong and broke the loader (between these 2 versions the loader was stuck at 0%). So I would not recommend reverting any commit. You can try any version before 3.4.0 and you will see the same error.

Ref introduced in 3.4.0: https://g

[2021-02-22 18:09] nestorchura2019 commented on #314
What version of three.js is the recommended or compatible?

[2021-02-22 19:04] RenaudRohlinger commented on #314
@nestorchura2019 in the meantime you could check the implementation with the official Loader component of Drei: https://codesandbox.io/s/oficce-with-loading-ui-forked-y6m2y?file=/src/App.js

It won't throw any error.

Maybe something to dig here @joshuaellis ?

[2021-02-22 23:45] Marviel commented on #171
Still having this issue.

[2021-02-23 08:42] joshuaellis commented on #171
Hi @Marviel,

If you can provide a minimal working example of the issue, I'd be happy to open this again and we can look into it.

[2021-02-23 09:29] drcmda commented on #171
orbit does that, too. they swallow "onClick" on mobile. the reason for this is probably not related to drei or r3f, it's something three does most likely and in that case we couldn't fix it anyway, but would be nice to know what it is.

the current workaround is to use onPointerUp instead, which has some disadvantages but often works ok.

[2021-03-03 22:54] geoff-harper opened #319 "<Html> conflicts with Pointer events"
I have a sphere mesh with an `onPointerOver` that reveals an `Html` info box and an `onPointerOut` that hides it, pretty straightforward. Unfortunately (and expectedly I guess) if you hover over where the info box visually obstructs the mesh, it produces flicker as it rapidly toggles visibility.

What approach can I take to resolve this, if there are any? Ideally there would be a prop that behaves

[2021-03-03 22:57] geoff-harper commented on #319
Moments after posting this I woke up and put a `pointer-events: none` on the `<Html>` style prop and it resolved the issue. I'll leave it up for anyone else having trouble

[2021-03-03 22:57] #319 closed

[2021-03-04 21:11] gsimone opened #320 "Change Controls to receive active camera from props"
<OrbitControls camera={camera} />

This would allow orbit controls in non-default camera scenarios, such as multiple fbos

https://user-images.githubusercontent.com/1862172/110030871-82237580-7d36-11eb-911c-5fd31f492c0c.mov

[2021-03-04 21:16] joshuaellis commented on #320
To clarify, this is because the current impl, uses the default camera?

[2021-03-05 09:33] gsimone commented on #320
yeah, I tested the change it just works ™ with few changes https://codesandbox.io/s/r3f-multi-view-mdnhl?file=/src/OrbitControls.js

This should be done for all controls (including Transform, IIRC)

[2021-03-06 13:55] joshuaellis commented on #320
Closed by #321

[2021-03-06 13:55] #320 closed

[2021-03-07 23:55] ThomasGHenry commented on #139
I very much appreciate you taking the time to follow up and explain. Thanks!

[2021-03-09 07:34] vinaysharma14 opened #323 "Multiple errors and warning"
- `three` version: ^0.126.1
- `react-three-fiber` version: ^5.0.0-beta.12
- `@react-three/drei` version: ^2.3.0-beta.1
- `node` version: 14.16.0
- `npm` (or `yarn`) version: 6.14.11

### Problem description:

1. **WARNING:** Multiple instances of Three.js being imported.
2. **TypeError:** element.setAttribute is not a function. (In 'element.setAttribute(eventName, 'return;')', 'element.setAttribut

[2021-03-09 08:12] joshuaellis commented on #323
You’re using a very outdated version of drei were I do believe we’ve already fixed this issue. If you can update your deps that’d be great, if you can continue to see errors we can revisit this issue.

[2021-03-09 08:21] vinaysharma14 commented on #323
@joshuaellis all the above-mentioned issues still persist with `^3.10.2` version of **@react-three/drei** as well, which I believe is the latest.

[2021-03-09 08:40] joshuaellis commented on #323
Hm I can see this is to with `react-native`? It's normally pretty hard to solve without an example, are you able to share a repo of some sort? Either the original or a slimmed down version will do.

[2021-03-09 08:55] vinaysharma14 commented on #323
@joshuaellis yes, I'll share a minimal reproducible issue in a repo in 5 minutes.

[2021-03-09 22:12] joshuaellis commented on #314
I'm closing this due to inactivity, it seems like a really niche issue & something weird `react` related, I personally have never had the issue. @nestorchura2019 if you want to look into fixing it you're more than welcome to and we can reopen the issue.

[2021-03-10 09:22] joshuaellis commented on #323
Okay, so I think there are potentially some issues with `drei` react-native support that unfortunately we don't have the maintainers with the skills & time to dedicate to the issue, so here's me fixing these errors loosely:

1. I'm not sure why this happens, it happens in codesandbox too, I think it's a problem with `three` not our library
2. & 3. First we have a `native` folder for imports that d

[2021-03-11 07:59] vinaysharma14 commented on #323
@joshuaellis as suggested, importing **OrbitControls** from `@react-three/drei/core/OrbitControls` didn’t help either. Rather a new error throws up as below:

<img width="758" alt="Screenshot 2021-03-11 at 1 27 17 PM" src="https://user-images.githubusercontent.com/48080660/110754179-82a79900-826d-11eb-9068-8e05710bceae.png">

**Note:** Additionally Q2, Q3, and Q4 still exists.

[2021-03-11 08:23] joshuaellis commented on #323
Have you installed the library `three-stdlib`? the fact it can't find it indicates you haven't and I imagine you're using the beta version of `@react-three/drei`.

[2021-03-11 08:24] #323 closed

[2021-03-11 09:17] vinaysharma14 commented on #323
@joshuaellis thanks for a quick response as always, but I'm not using the beta version of `@react-three/drei`. Moreover, despite installing `three-stdlib` explicitly, Q2, Q3, and Q4 still exist. It's pretty weird that none of these are reproducible for you. Anyway, thanks for your time.

[2021-03-11 10:09] vinaysharma14 commented on #323
@joshuaellis thanks for a quick response as always. Installing `three-stdlib` does solve the issue but I was wondering that usually developers don't install peer dependencies explicitly. I'm not using the beta version of `@react-three/drei` but `^3.10.2` as stated earlier.

Cleaning the cache of NPM and Expo did remove the Q2, Q3, Q4 errors but the canvas is not moving with finger gestures. Do the

[2021-03-11 10:23] joshuaellis commented on #323
this isn't true at all, take react, there are so many version of react, there are so many libraries that use react, I don't want to react bundled in every library I download – react-three-fiber, drei, react-dom – just to name three. Peer deps are 100% expected to be downloaded by the developers, you're thinking of actual dependencies such as `use-asset` where we have decided to specifically use a

[2021-03-11 10:25] vinaysharma14 commented on #323
@joshuaellis alright, thanks for your time and efforts! :)

[2021-03-11 10:26] vinaysharma14 commented on #323
@joshuaellis alright, thanks for your time and efforts! 🙂

[2021-03-14 06:18] Marguelgtz commented on #261
@joshuaellis Having the same issue, which version of three should we stick to for now?

[2021-03-15 21:04] AlaricBaraou opened #329 "How to correctly import / build the Html component as a dependencie"
Hello everyone,

I was initially using the drei Html component in react-three-a11y but I replaced it with my own "fork" and it fixed my problem.
So if this "issue" don't seem related to drei feel free to close it.

react-three-a11y ( https://github.com/pmndrs/react-three-a11y/ ) is bundled through tsdx ( which use Rollup )

If you look at this component https://github.com/pmndrs/react-three-a11y/b

[2021-03-16 09:45] joshuaellis commented on #329
Yeah, I can see our build process isn't creating the `.cjs.js` files in the directories - `dist/web/html.cjs.js` will not exist. 🤔 thanks for raising this issue, I'll look into it today and get it resolved asap, it's probably causing other people headaches without them realising.

[2021-03-16 10:33] AlaricBaraou commented on #329
I'll try the alpha release today, I'll let you know :)

[2021-03-16 20:36] steveruizok opened #331 "Line component thickness appears to vary depending on browser width."
- `three` version: "^0.126.1"

- `react-three-fiber` version: "^5.3.19",
- `@react-three/drei` version: "^3.11.0"
- `node` version: v15.8.0
- `npm` (or `yarn`) version: 7.5.0

### Problem description:

![Kapture 2021-03-16 at 20 31 21](https://user-images.githubusercontent.com/23072548/111376248-2098ca80-8697-11eb-9106-192207032b6f.gif)

When changing the browser width, the width of the Line compo

[2021-03-16 21:33] joshuaellis commented on #331
This is probably an issue with `LineMaterial` in [`three.js`](https://www.github.com/mrdoob/three.js). Probabyl to do with the vertex shader, unless you can see an issue with our implementation?

[2021-03-16 22:30] AlaricBaraou commented on #329
@joshuaellis I just tried with "@react-three/drei": "3.11.1-alpha.1" as you can see in react-three-a11y@1.0.2-alpha-0
Unfortunately, when I import it to react-three-fiber I get the error below
`"SyntaxError: Cannot use import statement outside a module"`
And if I take a look at the drei folder inside react-three-a11y node mudule I don't see any dist/web/html.cjs. ( if that's what I was supposed to

[2021-03-17 09:58] #329 closed

[2021-03-18 23:10] billythemusical commented on #261
For those that get this error and want a solution, reverting Three to an earlier version with `yarn add three@0.124.0` worked for me (at least for the first few examples).

[2021-03-21 15:33] sbugert opened #332 "Environment component only works on first mount, then stays black"
- `three` version: 0.126.1
- `react-three-fiber` version: 5.3.19
- `@react-three/drei` version: 3.11.1
- `node` version: 10.20.1 (CodeSandbox default?)
- `npm` (or `yarn`) version: CodeSandbox

### Problem description:

When using `<Environment />` it seems to only work when mounting a `<Canvas />` for the first time, then it renders a black screen, no errors. My usecase is that I'm mounting it on